<h2>ユーザーを編集する</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: "username_form", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "email_form" %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile, class: "profile_area" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: "password_form", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "password_confirmation_form", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "編集完了" %>
  </div>
<% end %>

<h3>ユーザーを削除する</h3>
<%= button_to "アカウントを削除したい方", registration_path(resource_name), data: { confirm: "本当に、消去してもよろしいですか？" }, method: :delete %>

<%= link_to "戻る", :back %>
