<div class="container notification-size">
  <div class="notification-frame">
    <div class="notifications-header">
      <div class="notification-title">通知</div>
      <div class="notification-all-delete">
        <label class="notification-all-delete-btn" for="trigger-report">全て削除</label>
      </div>
      <div class="modal_wrap">
        <!-- 通報モーダルの表示 -->
        <input id="trigger-report" type="checkbox">
        <div class="modal_overlay">
          <!-- 通報モーダルを閉じる  -->
          <label for="trigger-report" class="modal_trigger"></label>

          <div class="report_modal_content">
            <div class="report_modal_icon">
              <i class="fas fa-exclamation-triangle fa-trash-alt"></i>
            </div>
            <div class="report_modal_question">本当に全て削除しますか？</div>
            <div class="report_modal_sentence">(※後から戻す事はできません)</div>
            <div class="report_modal_btns">
              <label for="trigger-report" class="report-cancel-btn report-cancel">キャンセル</label>
              <%= link_to '削除', notifications_destory_path(), class: "report-really-btn", method: :delete, remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="each-notifications">
      <% unless @notifications.blank? %>
        <% if notifications %>
          <% notifications.each do |notification| %>
            <div class="notification-<%= notification.id %> notification-each-post">
              <% user = User.find(notification.visitor_id) %>
              <div class="notification-each-info">
                <div class="notification-each-left">
                  <%= link_to userpage_path(user.id) do %>
                    <% if user.avatar.url %>
                      <img src="<%= user.avatar.url %>" class="notification-user-icon icon-image-class comment-logo" style="height: 45px; width: 45px;">
                    <% else %>
                      <img src="/uploads/user/avatar/default.png" class="notification-user-icon icon-image-class comment-default-logo" style="height: 45px; width: 45px;">
                    <% end %>
                  <% end %>
                  <%= notification_form(notification) %>
                </div>
                <div class="notification-each-right notification-right-<%= notification.id %>">
                  <%= link_to notification_path(notification.id), method: :delete, class: "notification-trash-icon", style: "visibility: hidden;", remote: true do %>
                    <i class="fas fa-trash-alt fa-lg notification-each-delete"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
          <div class="nothing-notification">通知はありません</div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".notification-each-post").hover(function() {
      $(this).find('.notification-trash-icon').css("visibility", "visible");
    }, function() {
      $(this).find('.notification-trash-icon').css("visibility", "hidden");
    });
  });
</script>
