<% if review.like_by?(current_user) %>
  <div>
    <%= form_for(review.likes.find_by(user_id: current_user.id),
      html: { method: :delete, class: "unlike_class" }, remote: true) do |f| %>
      <%= hidden_field_tag :review_id, review.id %>
      <%= f.submit "Unlike" %>
    <% end %>
<% else %>
    <%= form_for(review.likes.build, url: likes_path, remote: true,
      html: { class: "like_class" }) do |f| %>
      <div><%= hidden_field_tag :review_id, review.id %></div>
      <%= f.submit "Like" %>
    <% end %>
  </div>
<% end %>
