<style media="screen">
  .mypage-reviews-post-username {
    opacity: 87.0%;
  }

  .min-follow-username {
    opacity: 87.0%;
  }
</style>

<div class="container mypage-reviews-size">
  <div class="mypage-reviews-status row">
    <div class="mypage-reviews-title-left col-md-7">
      <div class="mypage-reviews-title-icon">
        <div class="mypage-reviews-title-icon-left">
          <% if @user.avatar.url %>
            <img src="<%= @user.avatar.url %>" class="icon-image-class mypage-reviews-title-image" style="height: 60px; width: 60px;">
          <% else %>
            <img src="/uploads/user/avatar/default.png" class="icon-image-class mypage-reviews-title-image" style="height: 60px; width: 60px;">
          <% end %>
        </div>
        <div class="mypage-reviews-title-icon-right">
          <div class="mypage-reviews-title-icons">
            <span class="mypage-reviews-title-username"><%= @user.username %></span>
            <% if @user.sex == "woman" %>
            <svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 15px; height: 15px; opacity: 1;" xml:space="preserve">
              <g>
                <path class="st0" d="M375.846,289.327c30.62-30.577,49.655-73.137,49.641-119.843c0.014-46.706-19.021-89.266-49.641-119.843   C345.262,19.022,302.702-0.014,255.996,0c-46.706-0.014-89.266,19.022-119.843,49.641c-30.619,30.577-49.655,73.137-49.64,119.843   c-0.015,46.706,19.021,89.266,49.64,119.843c25.533,25.568,59.416,43.009,97.088,48.074v52.818h-78.55v45.502h78.55V512h45.509   v-76.279h78.551v-45.502h-78.551v-52.818C316.423,332.336,350.306,314.895,375.846,289.327z M255.996,279.816   c-15.317-0.007-29.75-3.085-42.944-8.656c-19.763-8.349-36.661-22.384-48.559-40.009c-11.912-17.64-18.822-38.713-18.836-61.667   c0.014-15.317,3.092-29.758,8.663-42.937c8.349-19.762,22.384-36.668,40.01-48.565c17.639-11.905,38.712-18.822,61.666-18.83   c15.317,0.007,29.75,3.085,42.93,8.656c19.762,8.35,36.676,22.385,48.572,40.01c11.898,17.64,18.808,38.712,18.822,61.667   c0,15.317-3.077,29.751-8.648,42.938c-8.35,19.763-22.384,36.668-40.01,48.566C300.023,272.891,278.951,279.802,255.996,279.816z" style="fill: #666666;"/>
              </g>
            </svg>
            <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 13px; height: 13px; opacity: 1;" xml:space="preserve">
              <g>
                <path class="st0" d="M337.578,0.001v53.934l82.329,0.008l-97.296,97.296c-35.826-27.331-78.85-41.114-121.686-41.089   c-51.299-0.025-102.937,19.687-142.074,58.858C19.679,208.138-0.034,259.783,0,311.075c-0.034,51.299,19.679,102.92,58.85,142.075   c39.138,39.171,90.775,58.884,142.074,58.85c51.3,0.034,102.938-19.686,142.076-58.85c39.154-39.129,58.883-90.776,58.849-142.075   c0.034-42.837-13.767-85.859-41.097-121.686l97.295-97.295v82.329L512,174.405V0.001H337.578z M329.335,336.091   c-4.815,24.763-16.689,48.226-35.928,67.473c-12.838,12.838-27.517,22.356-43.242,28.741c-23.564,9.561-49.509,11.968-74.256,7.17   c-24.762-4.806-48.225-16.68-67.482-35.92c-12.82-12.838-22.348-27.517-28.733-43.242c-9.56-23.564-11.976-49.509-7.178-74.256   c4.814-24.763,16.689-48.225,35.911-67.482c12.854-12.82,27.533-22.348,43.26-28.724c23.564-9.569,49.509-11.976,74.238-7.179   c24.78,4.806,48.243,16.68,67.499,35.903c12.822,12.854,22.348,27.533,28.733,43.259   C331.716,285.4,334.132,311.345,329.335,336.091z" style="fill: #666666;"/>
              </g>
            </svg>
            <% end %>
          </div>
            <div>
              <a class="mypage-reviews-following-a" href="<%= following_user_path(@user) %>">
                <span id="following">
                  <%= @user.following.count %>
                </span>
                following
              </a>
              <a class="mypage-reviews-followers-a" href="<%= followers_user_path(@user) %>">
                <span id="followers">
                  <%= @user.followers.count %>
                </span>
                followers
              </a>
            </div>
        </div>
      </div>
      <div class="mypage-reviews-title-profile"><%= @user.profile %></div>

      <%= button_to userpage_path(@user.id), class: "profile-reviews", method: :get do %>
          <div class="">マイページに戻る</div>
      <% end %>

    </div>
    <div class="mypage-reviews-title-right col-md-5">
      <div class="myprofile-status">
        <div class="myprofile-status-title">公開設定</div>
        <div class="myprofile-status-content">公開</div>
      </div>
      <div class="myprofile-status">
        <div class="myprofile-status-title">投稿数</div>
        <div class="myprofile-status-content"><%= @all_reviews.size %>投稿</div>
      </div>
      <div class="myprofile-status">
        <div class="myprofile-status-title">初めてのレビュー</div>
        <div class="myprofile-status-content"><%= l @reviews.last.created_at %></div>
      </div>
      <div class="myprofile-status">
        <div class="myprofile-status-title">最新のレビュー</div>
        <div class="myprofile-status-content"><%= l @reviews.first.created_at %></div>
      </div>
    </div>
  </div>
  <div class="mypage-reviews-post-subinfo row">
    <div class="mypage-reviews-posts col-8">
      <% unless @reviews.size == 0 %>
        <% @reviews.each do |review| %>
          <%= link_to review_path(review), class: "mypage-reviews-post" do %>
            <div class="mypage-reviews-post-names-div">
              <div class="mypage-reviews-post-names">
                <% if @user.avatar.url %>
                  <img src="<%= @user.avatar.url %>" class="icon-image-class mypage-reviews-title-image" style="height: 45px; width: 45px;">
                <% else %>
                  <img src="/uploads/user/avatar/default.png" class="icon-image-class mypage-reviews-title-image" style="height: 45px; width: 45px;">
                <% end %>
                <div class="mypage-reviews-post-username">
                  <%= @user.username %>
                  <div class="all-review-to-since">
                    <span class="all-review-to-word">Since <%= review.user.created_at.strftime("%Y-%m-%d") %></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mypage-reviews-stars">
              <% review.rate.times do |time| %>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 512 512" style="width: 17px; height: 17px; opacity: 1;" xml:space="preserve">
                  <g>
                    <polygon class="st0" points="256,12.531 327.047,183.922 512,198.531 370.938,319.047 414.219,499.469 256,402.563 97.781,499.469    141.063,319.047 0,198.531 184.953,183.922  " style="fill: #ffd055;"/>
                  </g>
                </svg>
              <% end %>
            </div>
            <div class="mypage-review-content">
              <%= review.content %>
              <% review.tags.each do |tag| %>
                <span class="mypage-review-tag">#<%= tag.name %></span>
              <% end %>
            </div>
            <div class="mypage-review-bottom">
              <div class="mypage-review-bottom-icons">
                <div class="mypage-review-icon"><i class="far fa-comment mypage-reviews-comment-icon"></i></div>
                <div class="mypage-review-icon"><i class="fas fa-retweet mypage-reviews-recommend-icon"></i></div>
                <div class="mypage-review-icon"><i class="far fa-heart mypage-reviews-like-icon"></i></div>
              </div>
              <div class="mypage-review-created-at"><%= l review.created_at %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="mypage-reviews-subinfo col-4">
      <div class="mypage-reviews-subinfo-involved-users">
        <div id="unknown_users">
          <div class="mypage-find-friends">友達を見つけよう！</div>
          <% if @unknown_users %>
            <% @unknown_users.each do |unknown_user| %>
              <div>
                <% @user = unknown_user %>
                <div class="mypage-reviews-min-follows">
                  <div class="mypage-min-profile">
                    <% if @user.avatar.url %>
                      <img src="<%= @user.avatar.url %>" class="icon-image-class" style="height: 40px; width: 40px;">
                    <% else %>
                      <img src="/uploads/user/avatar/default.png" class="icon-image-class" style="height: 40px; width: 40px;">
                    <% end %>
                    <div class="min-follow-username">
                      <%= @user.username %>
                      <span class="profile-reviews-follow-btn-word">Since <%= @user.created_at.strftime("%Y-%m-%d") %></span>
                    </div>
                  </div>
                  <div id="follow-div<%= @user.id %>" class="mypage-reviews-follow-btn">
                    <% if current_user.following?(@user) %>
                      <div id="not_follow_btn<%= @user.id %>" class="mypage_reviews_not_follow_btn_ajax all-reviews-icon">
                        following
                      </div>
                    <% else %>
                      <div id="follow_btn<%= @user.id %>" class="mypage_reviews_follow_btn_ajax all-reviews-icon">
                        <i class="fa-xs fas fa-plus"></i>
                        follow
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="mypage-min-none-user">フォローしていないユーザーはいません。</div>
          <% end %>
        </div>
      </div>
      <div class="mypage-reviews-subinfo-known-users">
        <div id="may_friend_users">
          <div>
            <% if @may_friend_users %>
              <div class="mypage-maybe-friends">知り合いかも？</div>
              <% @may_friend_users.each do |may_friend_user| %>
                <% @user = may_friend_user %>
                <div class="mypage-reviews-min-follows">
                  <div class="mypage-min-profile">
                    <% if @user.avatar.url %>
                      <img src="<%= @user.avatar.url %>" class="icon-image-class" style="height: 40px; width: 40px;">
                    <% else %>
                      <img src="/uploads/user/avatar/default.png" class="icon-image-class" style="height: 40px; width: 40px;">
                    <% end %>
                    <div class="min-follow-username">
                      <%= @user.username %>
                      <span class="profile-reviews-follow-btn-word">Since <%= @user.created_at.strftime("%Y-%m-%d") %></span>
                    </div>
                  </div>
                  <div id="follow-div<%= @user.id %>" class="mypage-reviews-follow-btn">
                    <% if current_user.following?(@user) %>
                      <div id="not_follow_btn<%= @user.id %>" class="mypage_reviews_not_follow_btn_ajax all-reviews-icon">
                        following
                      </div>
                    <% else %>
                      <div id="follow_btn<%= @user.id %>" class="mypage_reviews_follow_btn_ajax all-reviews-icon">
                        <i class="fa-xs fas fa-plus"></i>
                        follow
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="mypage-min-none-user">知り合いかもしれないユーザーはいません。</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= paginate @reviews %>
  </div>
</div>

<script type="text/javascript">
  if (document.getElementById("footer") == null) {
    var diva = document.getElementById("footerfixed");
    var div = document.createElement('div');
    div.innerHTML = `
    <div id="footer" class="footer footer-layout-set">
      <div class="footer-name">
        <span>作成者</span>
        <span class="footer-username">@yuya</span>
        <span><svg class="footer-username-mark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg></span>
      </div>
      <div class="footer-sentence">お問い合わせなどはDMでお願いします</div>
    </div>
    `;
    diva.appendChild(div);
    $(`#footer`).unwrap();
  }
</script>

<style media="screen">

  .follow-btn {
    font-size: 14px;
    width: 80px;
    height: 40px;
  }

  .unfollow-btn {
    font-size: 14px;
    width: 80px;
    height: 40px;
  }
</style>

<script type="text/javascript">
  var follow_flag = 0;
  var not_follow_flag = 0;

  $(document).on('click', '.mypage_reviews_follow_btn_ajax', function() {
    if (follow_flag == 0) {
      follow_flag = 1;
      var follow_data = Number($(this).attr('id').substr( 10 ));
      follow_ajax(follow_data);
    }
  });

  $(document).on('click', '.mypage_reviews_not_follow_btn_ajax', function() {
    if (not_follow_flag == 0) {
      not_follow_flag = 1;
      var not_follow_data = Number($(this).attr('id').substr( 14 ));
      not_follow_ajax(not_follow_data);
    }
  });

  function follow_ajax(follow_data){
      console.log(follow_data);
      $.ajax({
        type: 'GET',
        url: 'review_follow/create',
        data: {user_id: follow_data},
        dataType: 'json',
      }).done(function(follow_result){
        $(`#follow_btn${follow_result.follow_user_id}`).remove();
        console.log(follow_result.followers_count);
        var follow_div = document.getElementById(`follow-div${follow_result.follow_user_id}`);
        var follow_icon = document.createElement('span');
        follow_icon.innerHTML = `
          <span id="not_follow_btn${follow_result.follow_user_id}" class="mypage_reviews_not_follow_btn_ajax all-reviews-icon">following</span>
        `;
        follow_div.appendChild(follow_icon);
        $(`#not_follow_btn${follow_result.follow_user_id}`).unwrap();

        var followers_span = document.getElementById("followers");
        followers_span.innerText = follow_result.followers_count;
        follow_flag = 0;
      });
  }

  function not_follow_ajax(not_follow_data){
    console.log(not_follow_data);
    $.ajax({
      type: 'GET',
      url: 'review_follow/destroy',
      data: {user_id: not_follow_data},
      dataType: 'json',
    }).done(function(not_follow_result){
      console.log(not_follow_result.followers_count);
      $(`#not_follow_btn${not_follow_result.not_follow_user_id}`).remove();
      var follow_div = document.getElementById(`follow-div${not_follow_result.not_follow_user_id}`);
      var follow_icon = document.createElement('span');
      follow_icon.innerHTML = `
        <span id="follow_btn${not_follow_result.not_follow_user_id}" class="mypage_reviews_follow_btn_ajax all-reviews-icon">
          <i class="fa-xs fas fa-plus"></i>
          follow
        </span>
      `;
      follow_div.appendChild(follow_icon);
      $(`#follow_btn${not_follow_result.not_follow_user_id}`).unwrap();

      var followers_span = document.getElementById("followers");
      followers_span.innerText = not_follow_result.followers_count;
      not_follow_flag = 0;
    });
  }
</script>
