<% unless @reviews.size == 0 %>
<div>
  <% @reviews.each do |review| %>
    <div>
      <% if review.picture.url %>
        <img class="all_review_img" src="<%= review.picture.url %>">
      <% else %>
        <b>画像はありません</b>
      <% end %>
    </div>
    <div><%= link_to "#{review.title}", review_path(review) %></div>
    <div><%= review.content %></div>
    <div><%= review.rate %></div>
    <div><%= time_ago_in_words(review.created_at).delete("約").delete("未満") %>前</div>
    <div id="userpage_review_tags">
      <span>タグ</span>
      <% review.tags.each do |tag| %>
        <div>#<%= tag.name %></div>
      <% end %>
    </div>
    <div>
      <% if review.user == current_user %>
        <%= link_to '編集する', edit_review_path(review) %>
      <% end %>
    </div>
    <div>
      <%= link_to review.link, target: :_blank do %>
        <%= review.link %>
      <% end %>
    </div>
    <div>
      <% if review.user == current_user %>
        <%= link_to "削除する", review_destroy_path(id: review.id, original_page: "exist"), method: :delete,
                                  data: { confirm: "本当にこの投稿を削除しますか？" } %>
      <% end %>
    </div>
  <% end %>
</div>
<% else %>
<% end %>
