<div>
  <div class="abc"></div>
  <div>
    <%= @user.username %>
  </div>
  <div>
    <%= @user.profile %>
  </div>
  <div>
    <%= @user.email %>
  </div>
  <div>
    <% if @user.sex == "woman" %>
      女
    <% else %>
      男
    <% end %>
    <% if @user.avatar.url %>
      <div>
        <img src="<%= @user.avatar.url %>" class="aaa">
        <% if @user == current_user %>
        <%= link_to "delete", userpage_path(current_user), method: :delete,
                                  data: { confirm: "You sure?" } %>
        <% end %>
      </div>
    <% else %>
      <div>
        <img src="/uploads/user/avatar/default.png" class="bbb">
        <% if @user == current_user %>
          <%= link_to 'アバターを変更する', edit_user_registration_path %>
        <% end %>
      </div>
    <% end %>
  </div>
<% if @user == current_user %>
  <div>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
  </div>
<% end %>

<div>
  <a href="<%= following_user_path(@user) %>">
    <span id="following">
      <%= @user.following.count %>
    </span>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers">
      <%= @user.followers.count %>
    </span>
    followers
  </a>
</div>

<% if current_user != @user %>
  <div id="follow_form<%= @user.id %>">
    <%= render 'shared/follow_form' %>
  </div>
<% end %>

<% if @reviews %>
<div>
  <% @reviews.each do |review| %>
    <div>
      <% if review.picture.url %>
        <img src="<%= review.picture.url %>">
      <% else %>
        <b>画像はありません</b>
      <% end %>
    </div>
    <div><%= review.title %></div>
    <div><%= review.content %></div>
    <div><%= review.rate %></div>
    <div>
      <% if review.user == current_user %>
        <%= link_to '編集する', edit_review_path(review) %>
      <% end %>
    </div>
    <div>
      <%= link_to review.link, target: :_blank do %>
        <%= review.link %>
      <% end %>
    </div>
    <div>
      <% if review.user == current_user %>
        <%= link_to "削除する", review_destroy_path(id: review.id, original_page: "exist"), method: :delete,
                                  data: { confirm: "本当にこの投稿を削除しますか？" } %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
