<div>
  <% if @user.id == current_user.id %>
    <% @currentUserEntries.each do |currentUserEntry| %>
      <div>
        <% currentUserEntry.room.entries.each do |entry| %>
          <% unless entry.user_id == current_user.id %>
            <% if entry.user.avatar.url %>
              <img src="<%= entry.user.avatar.url %>" class="comment-logo">
            <% else %>
              <img src="/uploads/user/avatar/default.png" class="comment-default-logo">
            <% end %>
            <%= entry.user.username %>
            <a href="/rooms/<%= currentUserEntry.room.id %>">チャットへ</a>
            <%= link_to "削除", room_path(currentUserEntry.room.id), method: :delete,
                                      data: { confirm: "You sure?" } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="index">
  <div class="abc"></div>
  <div>
    <%= @user.username %>
  </div>
  <div>
    <%= @user.profile %>
  </div>
  <div>
    <%= @user.email %>
  </div>
  <div>
    <% if @user.sex == "woman" %>
      女
    <% else %>
      男
    <% end %>
    <% if @user.avatar.url %>
      <div>
        <img src="<%= @user.avatar.url %>" class="aaa">
        <% if @user == current_user %>
        <%= link_to "delete", userpage_path(current_user), method: :delete,
                                  data: { confirm: "You sure?" } %>
        <% end %>
      </div>
    <% else %>
      <div>
        <img src="/uploads/user/avatar/default.png" class="bbb">
        <% if @user == current_user %>
          <%= link_to 'アバターを変更する', edit_user_registration_path %>
        <% end %>
      </div>
    <% end %>
  </div>
<% if @user == current_user %>
  <div>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
  </div>
<% end %>

<div>
  <a href="<%= following_user_path(@user) %>">
    <span id="following">
      <%= @user.following.count %>
    </span>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <span id="followers">
      <%= @user.followers.count %>
    </span>
    followers
  </a>
</div>

<% if current_user != @user %>
  <div id="follow_form<%= @user.id %>">
    <%= render 'shared/follow_form' %>
  </div>
<% end %>

<% if @reviews %>
<div>
  <% @reviews.each do |review| %>
    <div>
      <% if review.picture.url %>
        <img class="all_review_img" src="<%= review.picture.url %>">
      <% else %>
        <b>画像はありません</b>
      <% end %>
    </div>
    <div><%= link_to "#{review.title}", review_path(review) %></div>
    <div><%= review.content %></div>
    <div><%= review.rate %></div>
    <div><%= time_ago_in_words(review.created_at).delete("約").delete("未満") %>前</div>
    <div id="userpage_review_tags">
      <span>タグ</span>
      <% review.tags.each do |tag| %>
        <div>#<%= tag.name %></div>
      <% end %>
    </div>
    <div>
      <% if review.user == current_user %>
        <%= link_to '編集する', edit_review_path(review) %>
      <% end %>
    </div>
    <div>
      <%= link_to review.link, target: :_blank do %>
        <%= review.link %>
      <% end %>
    </div>
    <div>
      <% if review.user == current_user %>
        <%= link_to "削除する", review_destroy_path(id: review.id, original_page: "exist"), method: :delete,
                                  data: { confirm: "本当にこの投稿を削除しますか？" } %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
