<script type="text/javascript">
  $('#notice').css('display','none');
  $('#alert').css('display','none');
</script>
<% provide(:title, "ログイン") %>

<div class="password-change-size">

  <div class="login-frame container">
    <div class="login-title">
      <%= render partial: 'homes/title_svg_image' %>
    </div>

    <div class="google-login">
      <%= link_to '#', class: "google-login-link" do %>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="38px" viewBox="0 0 38 38" version="1.1">        <title>Artboard</title>    <desc>Created with Sketch.</desc>    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">        <g id="btn_google_dark_normal_ios">            <g id="button-bg-copy">                <rect id="path-3" x="0" y="0" width="38" height="38" rx="1"/>            </g>            <g id="logo_googleg_48dp" transform="translate(10.000000, 10.000000)">                <path d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 Z" id="Shape" fill="#4285F4"/>                <path d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 Z" id="Shape" fill="#34A853"/>                <path d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 Z" id="Shape" fill="#FBBC05"/>                <path d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 Z" id="Shape" fill="#EA4335"/>                <polygon id="Shape" points="0 0 18 0 18 18 0 18"/></g></g></g></svg>
        <span class="google-login-sentence">Googleでログイン</span>
      <% end %>
    </div>

    <div class="login-link login-or">または</div>

    <div id="alert" class="login-validation"><%= alert %></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row login-row">
        <div class="col-2 login-field-icon">
          <svg aria-hidden="true" focusable="false" width="14px" height="13px" viewBox="0 0 32 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="auth0-lock-icon auth0-lock-icon-box"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="32px" sketch:type="MSLayerGroup" transform="translate(-2155.000000, -2317.000000)" fill="#888888"><g id="Group-856" transform="translate(1.000000, 1.000000)" sketch:type="MSShapeGroup"><path id="Fill-419" d="M2184,2339 C2184,2339.55 2183.55,2340 2183,2340 L2157,2340 C2156.45,2340 2156,2339.55 2156,2339 L2156,2319 C2156,2318.45 2156.45,2318 2157,2318 L2183,2318 C2183.55,2318 2184,2318.45 2184,2319 L2184,2339 L2184,2339 Z M2184,2316 L2156,2316 C2154.89,2316 2154,2316.89 2154,2318 L2154,2340 C2154,2341.1 2154.89,2342 2156,2342 L2184,2342 C2185.1,2342 2186,2341.1 2186,2340 L2186,2318 C2186,2316.89 2185.1,2316 2184,2316 L2184,2316 Z M2176,2322 L2180,2322 L2180,2326 L2176,2326 L2176,2322 Z M2174,2328 L2182,2328 L2182,2320 L2174,2320 L2174,2328 Z M2158,2332 L2172,2332 L2172,2330 L2158,2330 L2158,2332 Z M2158,2336 L2172,2336 L2172,2334 L2158,2334 L2158,2336 Z"></path></g></g></g></svg>
        </div>
        <div class="col-10 login-field-form">
          <%= f.email_field :email, class: "email_form login_form", autofocus: true, autocomplete: "email", placeholder: "yours@example.com" %>
        </div>
      </div>
      <div class="row login-row">
        <div class="col-2 login-field-icon">
          <svg aria-hidden="true" focusable="false" width="11px" height="14px" viewBox="0 0 13 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="auth0-lock-icon auth0-lock-icon-box"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-288.000000, -1508.000000)" fill="#888888"><path d="M299,1523.998 L290,1523.998 C288.896,1523.998 288,1523.102 288,1521.999 L288,1515.999 C288,1514.895 288.896,1513.998 290,1513.998 L290,1513.998 L290,1512.499 C290,1510.015 292.015,1507.999 294.5,1507.999 C296.985,1507.999 299,1510.015 299,1512.499 L299,1513.999 C300.104,1513.999 301,1514.895 301,1515.999 L301,1521.999 C301,1523.103 300.104,1523.998 299,1523.998 L299,1523.998 Z M298,1512.499 C298,1510.566 296.433,1508.999 294.5,1508.999 C292.567,1508.999 291,1510.566 291,1512.499 L291,1513.998 L298,1513.998 L298,1512.499 L298,1512.499 Z M300,1515.999 C300,1515.446 299.552,1514.998 299,1514.998 L290,1514.998 C289.447,1514.998 289,1515.446 289,1515.999 L289,1521.999 C289,1522.551 289.447,1522.998 290,1522.998 L299,1522.998 C299.552,1522.998 300,1522.551 300,1521.999 L300,1515.999 L300,1515.999 Z M294.5,1520.998 C294.224,1520.998 294,1520.774 294,1520.498 L294,1517.498 C294,1517.223 294.224,1516.999 294.5,1516.999 C294.776,1516.999 295,1517.223 295,1517.498 L295,1520.498 C295,1520.774 294.776,1520.998 294.5,1520.998 L294.5,1520.998 Z"></path></g></g></svg>
        </div>
        <div class="col-10 login-field-form">
          <%= f.password_field :password, class: "password_form login_form", autocomplete: "current-password", placeholder: "パスワード" %>
        </div>
      </div>

      <div class="login-links">
        <div class="login-link-div forget-password">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードを忘れた方", new_password_path(resource_name), class: "login-link" %><br />
          <% end %>
        </div>
        <div class="login-link-div account">
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "アカウント有効化のメールが届いていない方", new_user_confirmation_path(resource_name), class: "login-link" %><br />
          <% end %>
        </div>
      </div>

      <div class="actions login-field">
        <%= f.submit "ログイン", class: "login-btn" %>
      </div>

      <div class="to-terms-link-div to-terms-links">
        <%= link_to '利用規約', show_terms_path, class: "login-link login-term-link" %>
        <%= link_to 'プライバシーポリシー', show_privacy_policy_path, class: "login-link" %>
      </div>
    <% end %>
  </div>

  </div>

<style media="screen">
  body {
    background-color: #e9f1f5;
  }

  .application-height {
    height: 100%;
  }
</style>

<script type="text/javascript">
  if (document.getElementById("footer") == null) {
    var diva = document.getElementById("footerfixed");
    var div = document.createElement('div');
    div.innerHTML = `
    <div id="footer" class="footer footer-layout-set">
      <div class="footer-name">
        <span>作成者</span>
        <span class="footer-username">@yuya</span>
        <span><svg class="footer-username-mark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg></span>
      </div>
      <div class="footer-sentence">お問い合わせなどはDMでお願いします</div>
    </div>
    `;
    diva.appendChild(div);
    $(`#footer`).unwrap();
  }
</script>
