<% if current_user.already_report?(review) %>
  <span>通報済</span>
<% else %>
<div id="open_report_modal_<%= review.id %>" class="open_report_modal">通報</div>
<div class="report_modal_content" id="report_modal_<%= review.id %>" style="display: none;">
  <div class="modal-back">
    <div class="modal_close close_report_modal_<%= review.id %>">
    </div>
    <div class="report_modal_body">
      <div class="modal_close_btn close_report_modal_<%= review.id %>">✖︎</div>
        <%= form_with url: reports_path, local: false do |f| %>
          <%= hidden_field_tag :review_id, review.id %>
          <%= f.submit "通報", html: { class: "report-button" }, id: :report_button, data: { confirm: 'Is this what you want?' } %>
        <% end %>
    </div>
  </div>
</div>

<% end %>
