<% if ranking_reviews.size >= 3 %>
  <div class="like-ranking-title">
    <div class="like-ranking-title-word">
      いいねランキング
    </div>
    <div class="like-ranking-title-icon">
      <svg style="fill: #6A6F70;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 200 145.218"><path d="M112.159,265.46v.028L62.307,323.72l-39.689-40V378.5H201.724V283.719l-39.689,40-49.852-58.232v-.028l-.012.014ZM16.519,387.2a4.338,4.338,0,0,0-4.348,4.348v14.782a4.338,4.338,0,0,0,4.348,4.348h191.3a4.338,4.338,0,0,0,4.348-4.348V391.547a4.338,4.338,0,0,0-4.348-4.348Z" transform="translate(-12.171 -265.459)"/></svg>
    </div>
  </div>

  <div id="like_ranking_1" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABlVBMVEVHcEypdQSkcQClcQCl           cwCkcQCkcQCkcQClcgCyfwDMmQCmcQClcQClcQClcgGkcQCkcQCqcQCueACkcgCkcQCndAKkcQCk cQCncgCqcwCkcQCpdwWlcQCmdgCmcwClcQClcgCkcQCkdAClcQCodQOkcQCmcgCqqgCkcgClcQC/ fwCkcQClcgCkcgCkcQCvfwC/fwClcgCmcwKkcQClcgCmdQCkcgCpdgSlcQCqdQCndgCkcgCkcgCm cwClcQCkcQCkcQCkcQCmcQD/fwCkcQCqfwCkcQCkcQCwdQCkcwCkcQCmeQClcQCqcQCkcQCteQel cwCueQekcQDntEDmsz7jsDvRniquewnKlyTWoy+yfw3ToC3aqDO3hBK2gxHcqTXerDe8iRbAjhvi rzvirjrAjRvKliPksTzFkyDUoS3LlyTntD/QnSmtegjAjRrVoi6xfgzZpjK1ghDdqja7iBXhrjnA jBrhrjrEkR7lsz7JlyPToCznsz/OmyiseQfcqDSvfQvYpTG0gQ/cqjW5hhS+ixj///+JM9KCAAAA UnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI1/72hxAEb/78 mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEhozeO10AAAAHdElNRQfm AgYBHTX7f5yLAAABdElEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7u0odqEidgd23bfMuGAJzCDM 4Nm3L+A5eE83Q5jGwgjNhWEEEUQQQQQRRBBBBBFEEEEEEUQQQQQRRBBBBBFE0D9C3Hx4oAWrapFT Di0t8yeDdUUhtLoGRERGRQPrGwqgzS01YmLjGItPSIRm2yYT2tlNQnKKlgnT6Q1Q7XEyIPt+KtLS M5hnmVmuVI5QIe4gG8jJZV4zSqaSgg6PjoG8fOY7IdWJLWjo9AwoKGRi0xUZUOyfShQ6vwBKSsuY xERTiUCXV2qYyitYgBkr/VL5Qdc3VaiuqWWBV2fmU91KQ/a7ejQ0NrG/p232TuUF3TtbgNa2IBh+ 7R2uVA8i0OPTM9DZFSTDz8KnevGFHK9AtyUEhk/V40nlht7egd6+/tAcdyon54Y+PoEB82DIzK9U AvSlwdDwiCyG3yif6uenHdOPy2aEVCbhp1VPTCphhFRTBrDpGaWMkGr2G1Bz76Ye65KpAAAAJXRF WHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjUyKzAwOjAwo3mUpAAAACV0RVh0ZGF0ZTpt b2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1MiswMDowMNIkLBgAAAAASUVORK5CYII="/>
        </svg>
        <div class="ranking-icon-number">1</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews.first), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews.first.title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews.first.likes.size %>like / <%= ranking_reviews.first.user.username %> / <%= l(ranking_reviews.first.created_at, format: :long) %></span>
      </div>
    </div>
  </div>

  <div id="like_ranking_2" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABXFBMVEVHcEyGhoaCgoKDg4OE
        hISDg4OCgoKCgoKDg4OZmZmZmZmEhISCgoKDg4OCgoKCgoKNjY2GhoaCgoKCgoKEhISCgoKCgoKD
        g4OFhYWCgoKDg4OCgoKEhISCgoKDg4OCgoKEhISCgoKFhYWCgoKCgoKqqqqCgoKCgoKfn5+CgoKC
        goKCgoKPj4+/v7+CgoKCgoKCgoKJiYmCgoKDg4OCgoKCgoKCgoKCgoKGhoaCgoKCgoKEhISCgoKC
        goL///+CgoKqqqqCgoKDg4OJiYmEhISCgoKFhYWCgoKGhoaCgoKJiYmCgoKJiYmCgoK4uLi1tbWm
        pqaKioqgoKC3t7eqqqqNjY2Li4uoqKiurq6RkZGvr6+xsbGVlZWYmJi0tLSZmZmhoaG2tradnZ2i
        oqKlpaWJiYmpqamtra2QkJCwsLCUlJSysrKcnJykpKSIiIisrKyPj4+Tk5OXl5f///86wnCqAAAA
        TXRSTlMA/uZnTdj+8HoKBXDu/viNEhOV+/79oB0quLMrS8Q81U+U/uJiA+11CNf2hxAEb/yaGpOt
        Jym3wDdK0W7fXALrBvSCDUn6F6gkktQz0ICkOKQAAAABYktHRD5JZADjAAAAB3RJTUUH5gIGAR02
        YnbNMQAAAXFJREFUWMPt2VVXAlEYheGDMeYoZWMrNnZgd28RUEoBMbHj/1/IGRYsGKkJ7779A56L
        98yam49BpzEdoTMdRhBBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQT9J+TSBzp3Gzxe7dDFJT8y
        +PwaoUAQKCuvqASCIQ3Q1bWAquoaxmrr6iGGIyqhSFREQ6ORSTOZLTDceFVAsVsrmppbWHqtbflT
        5Ye8dwagvYNlzcZTBRRB9w9AZxeTT0oVjZQMPSZevLuH5Zqp14K+v6lyQk9xoH9gkOUZT+X2F4ee
        XwTYh4ZZgdlGgHigMPQaFjA6Ns4Kb8Ih/6pkkOvNismpaVZ8xpnsVFlQzJN48dm5Ehi++YXMVJnQ
        +wewuFQiw+fkqUJyyO8Dlp0KGJ5qJZ0qBX1+Aatr68qcVCr+r0pCoW9gw7GpmMlIJUE/Ira2d1Qx
        fLuJVMHknXbPvK+akVLZpTutcHCohZFSHVnAjk+0MlKq01/FfWNNj04y/QAAACV0RVh0ZGF0ZTpj
        cmVhdGUAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMMCpoZ4AAAAldEVYdGRhdGU6bW9kaWZ5ADIw
        MjItMDItMDZUMDE6Mjk6NTQrMDA6MDCx9BkiAAAAAElFTkSuQmCC" />
        </svg>
        <div class="ranking-icon-number">2</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews.second), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews.second.title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews.second.likes.size %>like / <%= ranking_reviews.second.user.username %> / <%= l(ranking_reviews.second.created_at, format: :long) %></span>
      </div>
    </div>
  </div>

  <div id="like_ranking_3" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABoVBMVEVHcEw7HQI1GQA2GwA4
        GgA1GQA1GQA1GQA2GQBMGQBmMwA2GQA1GQA2GQA2GgA1GQA2GQA4HAA1GgA1GQA1GQA5HAE1GQA2
        GQA9GgA2HgA2GgA8HgM2GQA1HQA2GwA1GgA3GQA1GQA2GQA1GQA6HQI1GQA2GgBVVQA1GQA2GgA/
        HwA1GgA3GgA1GQA2GgA/HwA/PwA3GQA4HAE1GQA2GgA6HQA1GgA1GQA6GgA3HwA2GQA1GQA3GwA3
        GwA1GQA1GQA1GQA3GwB/fwA1GgBVKgA1GQA2GQA6JwA3GwA1GQA3IQA1GQA4HAA2GgA/IAQ3GQA/
        IQQ1GQCLVyqJVimGUydvQxxCIgZmPBeKVil1Rx9GJghCIwZyRR16SyJOKgtNKgt9TSOATyRUMA5Z
        MxGEUiZaNBFlOxeHVChgOBVnPRh8TSKLVyltQRtAIQVzRh5FJQh6SiFLKQp+TiNSLg5MKguDUSVY
        MhFYMxGFUiaGVCdfNhSJVShlPBdxRR2KVylrQBo/IQR9TCJDJAdZMhF3SSBKKAp9TiNQLQ1yRB1W
        MRD///+5Or20AAAAUXRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID
        7XUI1/72hxAEb/78mhqTrScpt8A3StFu31wC6wb0gg1J+heoJJLUM9BH6iqyAAAAAWJLR0SKhWh3
        dgAAAAd0SU1FB+YCBgEdNmJ2zTEAAAF6SURBVFjD7dnVVkJRFIXhjYGJAdjdHdiF3T0NRMXGwm5U
        7H5r2YcBQ5RDHbxb8wG+i39dLoYAjQUQmgrACCKIIIIIIogggggiiCCCCCKIIIIIIogggggiiKB/
        hKZnAgPN6mRzeunQ/AJ/MiwaJEJLy0BQcEgosLIqAVpblyMsPIKxyKhoKDaMfkLGzRjExsUzYUqV
        GrItvR/Q9k4CEpOSmWMpqeKpxCH9bhqQnsGclslTmXyB9vYPgKxs9nuiqUSgwyMgJ5e5mjJPjfy/
        qVxCxydAQWERExlPpTN4hk7P5CguKWVullkGnJvcQxeX5aiorGLuV62xproyi0PXNzWoratnnhff
        4JzKCbq1WC/e2OQFw9fcYk115wK6f3gEWtu8ZPi0PNXTb8jwDLRrfWB4qg5rqhfzT+j1Dejs6vbN
        saey6O3Q+wfQo+n1mXGk+rRBXwr09Q/4xfAN8lS2P+2QathvRkhVLPxp5SOjUhgh1ZgabHxCKiOk
        mvwGwxDVESwn+dcAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDItMDZUMDE6Mjk6NTQrMDA6MDDA
        qaGeAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwsfQZIgAAAABJ
        RU5ErkJggg==" />
        </svg>
        <div class="ranking-icon-number">3</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews.third), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews.third.title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews.third.likes.size %>like / <%= ranking_reviews.third.user.username %> / <%= l(ranking_reviews.third.created_at, format: :long) %></span>
      </div>
    </div>
  </div>

  <% if ranking_reviews[3] %>
  <div id="like_ranking_4" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABnlBMVEVHcEwhh7Icg64dg68d
        hK8cg64cg64cg64dg68zmbIzmcwdhK8cg64dhK4dhK8cg64chK8cjbgohq4dg64cg64fhbAcg64c
        hK8jg68ehbAdg64hiLIcg68diLEehLAcg64dg64cg64dhK4dhK4ghrIchK4chK5Vqv8dg64chK4f
        n78cg64dg68dg64chK8fj68/v78dha4ehbAcg64chK8dibAdg68giLMcg68gibAfiK4dhK4dg68g
        hrAfhq8cg64ehLAcg64eha5///8cg64qqtQcg64dg64nibAfhK4cg64hhbEchK4chrEdhK4ki7Ue
        h68jirYcg65cvuhbvudYu+RHq9Uli7ZApc9bvedMrtkqj7omjLdKrddQs90ulL5RtN5TtuEzmMI3
        nMdYueNXueM4ncdApM9ZvOY8octJrddBpc9FqdQli7U3nMZKrdgojrlOstwsk70ljLdTtuAxl8Et
        k71VuOM2m8Y3m8ZXuuNYu+U7n8pavOZJrdZFqNMjirUnjbg2nMZOsdsskbxStd4wlcBJrNY1msX/
        ///wBCoKAAAAUnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI
        1/72hxAEb/78mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEiRxhJswA
        AAAHdElNRQfmAgYBHTZids0xAAABd0lEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7m1igYqi2K3Y
        7WXLDGshKDUzePbtC3gO3tPNEKKxEEIzIRhBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQQR9I/Q
        7FxooPkF2aJROrS0zJ0MK6sSoTUTEBYeEQmYzBKg9Q05oqJjGIuNi4di0yIS2tpOQGKSkvFTqTWQ
        WY0ioJ3dZKSkpjHX0jMcqWxCIeNeJpCVzTym9ZnKJ7R/AOTkst/jUx1agoaOjoG8fOZtqgINCv+m
        8gqdnAJFxSXMx7hUZ7bA0PmFHLrSMuZn2nLg0uwfurquQGVVNfO/Gr0j1Y3dN3R7V4u6+gYWeMpG
        z1Qe0L21CWhuCYLh1trmSPXgDXp8Ato7gmS4GdxS/UC2Z6DTIIDhUnU5Ur3Y3aHXN6C7p1eY457K
        Cb1/AH36fsGMK9WnE/pSYGBwSBTDbZhL5fxpR9Sjohk+lY7/aeVj41IYPtWEBmxySirDp5r+BnDl
        8GcFm0uhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwwKmhngAA
        ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMLH0GSIAAAAASUVORK5C
        YII=" />
        </svg>
        <div class="ranking-icon-number">4</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews[3]), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews[3].title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews[3].likes.size %>like / <%= ranking_reviews[3].user.username %> / <%= l(ranking_reviews[3].created_at, format: :long) %></span>
      </div>
    </div>
  </div>
  <% end %>

  <% if ranking_reviews[4] %>
  <div id="like_ranking_5" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABnlBMVEVHcEwhh7Icg64dg68d
        hK8cg64cg64cg64dg68zmbIzmcwdhK8cg64dhK4dhK8cg64chK8cjbgohq4dg64cg64fhbAcg64c
        hK8jg68ehbAdg64hiLIcg68diLEehLAcg64dg64cg64dhK4dhK4ghrIchK4chK5Vqv8dg64chK4f
        n78cg64dg68dg64chK8fj68/v78dha4ehbAcg64chK8dibAdg68giLMcg68gibAfiK4dhK4dg68g
        hrAfhq8cg64ehLAcg64eha5///8cg64qqtQcg64dg64nibAfhK4cg64hhbEchK4chrEdhK4ki7Ue
        h68jirYcg65cvuhbvudYu+RHq9Uli7ZApc9bvedMrtkqj7omjLdKrddQs90ulL5RtN5TtuEzmMI3
        nMdYueNXueM4ncdApM9ZvOY8octJrddBpc9FqdQli7U3nMZKrdgojrlOstwsk70ljLdTtuAxl8Et
        k71VuOM2m8Y3m8ZXuuNYu+U7n8pavOZJrdZFqNMjirUnjbg2nMZOsdsskbxStd4wlcBJrNY1msX/
        ///wBCoKAAAAUnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI
        1/72hxAEb/78mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEiRxhJswA
        AAAHdElNRQfmAgYBHTZids0xAAABd0lEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7m1igYqi2K3Y
        7WXLDGshKDUzePbtC3gO3tPNEKKxEEIzIRhBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQQR9I/Q
        7FxooPkF2aJROrS0zJ0MK6sSoTUTEBYeEQmYzBKg9Q05oqJjGIuNi4di0yIS2tpOQGKSkvFTqTWQ
        WY0ioJ3dZKSkpjHX0jMcqWxCIeNeJpCVzTym9ZnKJ7R/AOTkst/jUx1agoaOjoG8fOZtqgINCv+m
        8gqdnAJFxSXMx7hUZ7bA0PmFHLrSMuZn2nLg0uwfurquQGVVNfO/Gr0j1Y3dN3R7V4u6+gYWeMpG
        z1Qe0L21CWhuCYLh1trmSPXgDXp8Ato7gmS4GdxS/UC2Z6DTIIDhUnU5Ur3Y3aHXN6C7p1eY457K
        Cb1/AH36fsGMK9WnE/pSYGBwSBTDbZhL5fxpR9Sjohk+lY7/aeVj41IYPtWEBmxySirDp5r+BnDl
        8GcFm0uhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwwKmhngAA
        ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMLH0GSIAAAAASUVORK5C
        YII=" />
        </svg>
        <div class="ranking-icon-number">5</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews[4]), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews[4].title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews[4].likes.size %>like / <%= ranking_reviews[4].user.username %> / <%= l(ranking_reviews[4].created_at, format: :long) %></span>
      </div>
    </div>
  </div>
  <% end %>

  <% if ranking_reviews[5] %>
  <div id="like_ranking_6" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABnlBMVEVHcEwhh7Icg64dg68d
        hK8cg64cg64cg64dg68zmbIzmcwdhK8cg64dhK4dhK8cg64chK8cjbgohq4dg64cg64fhbAcg64c
        hK8jg68ehbAdg64hiLIcg68diLEehLAcg64dg64cg64dhK4dhK4ghrIchK4chK5Vqv8dg64chK4f
        n78cg64dg68dg64chK8fj68/v78dha4ehbAcg64chK8dibAdg68giLMcg68gibAfiK4dhK4dg68g
        hrAfhq8cg64ehLAcg64eha5///8cg64qqtQcg64dg64nibAfhK4cg64hhbEchK4chrEdhK4ki7Ue
        h68jirYcg65cvuhbvudYu+RHq9Uli7ZApc9bvedMrtkqj7omjLdKrddQs90ulL5RtN5TtuEzmMI3
        nMdYueNXueM4ncdApM9ZvOY8octJrddBpc9FqdQli7U3nMZKrdgojrlOstwsk70ljLdTtuAxl8Et
        k71VuOM2m8Y3m8ZXuuNYu+U7n8pavOZJrdZFqNMjirUnjbg2nMZOsdsskbxStd4wlcBJrNY1msX/
        ///wBCoKAAAAUnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI
        1/72hxAEb/78mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEiRxhJswA
        AAAHdElNRQfmAgYBHTZids0xAAABd0lEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7m1igYqi2K3Y
        7WXLDGshKDUzePbtC3gO3tPNEKKxEEIzIRhBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQQR9I/Q
        7FxooPkF2aJROrS0zJ0MK6sSoTUTEBYeEQmYzBKg9Q05oqJjGIuNi4di0yIS2tpOQGKSkvFTqTWQ
        WY0ioJ3dZKSkpjHX0jMcqWxCIeNeJpCVzTym9ZnKJ7R/AOTkst/jUx1agoaOjoG8fOZtqgINCv+m
        8gqdnAJFxSXMx7hUZ7bA0PmFHLrSMuZn2nLg0uwfurquQGVVNfO/Gr0j1Y3dN3R7V4u6+gYWeMpG
        z1Qe0L21CWhuCYLh1trmSPXgDXp8Ato7gmS4GdxS/UC2Z6DTIIDhUnU5Ur3Y3aHXN6C7p1eY457K
        Cb1/AH36fsGMK9WnE/pSYGBwSBTDbZhL5fxpR9Sjohk+lY7/aeVj41IYPtWEBmxySirDp5r+BnDl
        8GcFm0uhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwwKmhngAA
        ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMLH0GSIAAAAASUVORK5C
        YII=" />
        </svg>
        <div class="ranking-icon-number">6</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews[5]), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews[5].title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews[5].likes.size %>like / <%= ranking_reviews[5].user.username %> / <%= l(ranking_reviews[5].created_at, format: :long) %></span>
      </div>
    </div>
  </div>
  <% end %>

  <% if ranking_reviews[6] %>
  <div id="like_ranking_7" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABnlBMVEVHcEwhh7Icg64dg68d
        hK8cg64cg64cg64dg68zmbIzmcwdhK8cg64dhK4dhK8cg64chK8cjbgohq4dg64cg64fhbAcg64c
        hK8jg68ehbAdg64hiLIcg68diLEehLAcg64dg64cg64dhK4dhK4ghrIchK4chK5Vqv8dg64chK4f
        n78cg64dg68dg64chK8fj68/v78dha4ehbAcg64chK8dibAdg68giLMcg68gibAfiK4dhK4dg68g
        hrAfhq8cg64ehLAcg64eha5///8cg64qqtQcg64dg64nibAfhK4cg64hhbEchK4chrEdhK4ki7Ue
        h68jirYcg65cvuhbvudYu+RHq9Uli7ZApc9bvedMrtkqj7omjLdKrddQs90ulL5RtN5TtuEzmMI3
        nMdYueNXueM4ncdApM9ZvOY8octJrddBpc9FqdQli7U3nMZKrdgojrlOstwsk70ljLdTtuAxl8Et
        k71VuOM2m8Y3m8ZXuuNYu+U7n8pavOZJrdZFqNMjirUnjbg2nMZOsdsskbxStd4wlcBJrNY1msX/
        ///wBCoKAAAAUnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI
        1/72hxAEb/78mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEiRxhJswA
        AAAHdElNRQfmAgYBHTZids0xAAABd0lEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7m1igYqi2K3Y
        7WXLDGshKDUzePbtC3gO3tPNEKKxEEIzIRhBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQQR9I/Q
        7FxooPkF2aJROrS0zJ0MK6sSoTUTEBYeEQmYzBKg9Q05oqJjGIuNi4di0yIS2tpOQGKSkvFTqTWQ
        WY0ioJ3dZKSkpjHX0jMcqWxCIeNeJpCVzTym9ZnKJ7R/AOTkst/jUx1agoaOjoG8fOZtqgINCv+m
        8gqdnAJFxSXMx7hUZ7bA0PmFHLrSMuZn2nLg0uwfurquQGVVNfO/Gr0j1Y3dN3R7V4u6+gYWeMpG
        z1Qe0L21CWhuCYLh1trmSPXgDXp8Ato7gmS4GdxS/UC2Z6DTIIDhUnU5Ur3Y3aHXN6C7p1eY457K
        Cb1/AH36fsGMK9WnE/pSYGBwSBTDbZhL5fxpR9Sjohk+lY7/aeVj41IYPtWEBmxySirDp5r+BnDl
        8GcFm0uhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwwKmhngAA
        ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMLH0GSIAAAAASUVORK5C
        YII=" />
        </svg>
        <div class="ranking-icon-number">7</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews[6]), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews[6].title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews[6].likes.size %>like / <%= ranking_reviews[6].user.username %> / <%= l(ranking_reviews[6].created_at, format: :long) %></span>
      </div>
    </div>
  </div>
  <% end %>

  <% if ranking_reviews[7] %>
  <div id="like_ranking_8" class="ranking-review-individual">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABnlBMVEVHcEwhh7Icg64dg68d
        hK8cg64cg64cg64dg68zmbIzmcwdhK8cg64dhK4dhK8cg64chK8cjbgohq4dg64cg64fhbAcg64c
        hK8jg68ehbAdg64hiLIcg68diLEehLAcg64dg64cg64dhK4dhK4ghrIchK4chK5Vqv8dg64chK4f
        n78cg64dg68dg64chK8fj68/v78dha4ehbAcg64chK8dibAdg68giLMcg68gibAfiK4dhK4dg68g
        hrAfhq8cg64ehLAcg64eha5///8cg64qqtQcg64dg64nibAfhK4cg64hhbEchK4chrEdhK4ki7Ue
        h68jirYcg65cvuhbvudYu+RHq9Uli7ZApc9bvedMrtkqj7omjLdKrddQs90ulL5RtN5TtuEzmMI3
        nMdYueNXueM4ncdApM9ZvOY8octJrddBpc9FqdQli7U3nMZKrdgojrlOstwsk70ljLdTtuAxl8Et
        k71VuOM2m8Y3m8ZXuuNYu+U7n8pavOZJrdZFqNMjirUnjbg2nMZOsdsskbxStd4wlcBJrNY1msX/
        ///wBCoKAAAAUnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI
        1/72hxAEb/78mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEiRxhJswA
        AAAHdElNRQfmAgYBHTZids0xAAABd0lEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7m1igYqi2K3Y
        7WXLDGshKDUzePbtC3gO3tPNEKKxEEIzIRhBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQQR9I/Q
        7FxooPkF2aJROrS0zJ0MK6sSoTUTEBYeEQmYzBKg9Q05oqJjGIuNi4di0yIS2tpOQGKSkvFTqTWQ
        WY0ioJ3dZKSkpjHX0jMcqWxCIeNeJpCVzTym9ZnKJ7R/AOTkst/jUx1agoaOjoG8fOZtqgINCv+m
        8gqdnAJFxSXMx7hUZ7bA0PmFHLrSMuZn2nLg0uwfurquQGVVNfO/Gr0j1Y3dN3R7V4u6+gYWeMpG
        z1Qe0L21CWhuCYLh1trmSPXgDXp8Ato7gmS4GdxS/UC2Z6DTIIDhUnU5Ur3Y3aHXN6C7p1eY457K
        Cb1/AH36fsGMK9WnE/pSYGBwSBTDbZhL5fxpR9Sjohk+lY7/aeVj41IYPtWEBmxySirDp5r+BnDl
        8GcFm0uhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwwKmhngAA
        ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMLH0GSIAAAAASUVORK5C
        YII=" />
        </svg>
        <div class="ranking-icon-number">8</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews[7]), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews[7].title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews[7].likes.size %>like / <%= ranking_reviews[7].user.username %> / <%= l(ranking_reviews[7].created_at, format: :long) %></span>
      </div>
    </div>
  </div>
  <% end %>

  <% if ranking_reviews[8] %>
  <div id="like_ranking_9" class="ranking-review-individual-last">
    <div class="ranking-icon-div-left">
      <div class="ranking-icon-div">
        <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABnlBMVEVHcEwhh7Icg64dg68d
        hK8cg64cg64cg64dg68zmbIzmcwdhK8cg64dhK4dhK8cg64chK8cjbgohq4dg64cg64fhbAcg64c
        hK8jg68ehbAdg64hiLIcg68diLEehLAcg64dg64cg64dhK4dhK4ghrIchK4chK5Vqv8dg64chK4f
        n78cg64dg68dg64chK8fj68/v78dha4ehbAcg64chK8dibAdg68giLMcg68gibAfiK4dhK4dg68g
        hrAfhq8cg64ehLAcg64eha5///8cg64qqtQcg64dg64nibAfhK4cg64hhbEchK4chrEdhK4ki7Ue
        h68jirYcg65cvuhbvudYu+RHq9Uli7ZApc9bvedMrtkqj7omjLdKrddQs90ulL5RtN5TtuEzmMI3
        nMdYueNXueM4ncdApM9ZvOY8octJrddBpc9FqdQli7U3nMZKrdgojrlOstwsk70ljLdTtuAxl8Et
        k71VuOM2m8Y3m8ZXuuNYu+U7n8pavOZJrdZFqNMjirUnjbg2nMZOsdsskbxStd4wlcBJrNY1msX/
        ///wBCoKAAAAUnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI
        1/72hxAEb/78mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEiRxhJswA
        AAAHdElNRQfmAgYBHTZids0xAAABd0lEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7m1igYqi2K3Y
        7WXLDGshKDUzePbtC3gO3tPNEKKxEEIzIRhBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQQR9I/Q
        7FxooPkF2aJROrS0zJ0MK6sSoTUTEBYeEQmYzBKg9Q05oqJjGIuNi4di0yIS2tpOQGKSkvFTqTWQ
        WY0ioJ3dZKSkpjHX0jMcqWxCIeNeJpCVzTym9ZnKJ7R/AOTkst/jUx1agoaOjoG8fOZtqgINCv+m
        8gqdnAJFxSXMx7hUZ7bA0PmFHLrSMuZn2nLg0uwfurquQGVVNfO/Gr0j1Y3dN3R7V4u6+gYWeMpG
        z1Qe0L21CWhuCYLh1trmSPXgDXp8Ato7gmS4GdxS/UC2Z6DTIIDhUnU5Ur3Y3aHXN6C7p1eY457K
        Cb1/AH36fsGMK9WnE/pSYGBwSBTDbZhL5fxpR9Sjohk+lY7/aeVj41IYPtWEBmxySirDp5r+BnDl
        8GcFm0uhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwwKmhngAA
        ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMLH0GSIAAAAASUVORK5C
        YII=" />
        </svg>
        <div class="ranking-icon-number">9</div>
      </div>
    </div>
    <div class="ranking-icon-div-right">
      <div class="ranking-review-link">
        <%= link_to review_path(ranking_reviews[8]), class: "ranking-review-link-path" do %>
          <span><%= ranking_reviews[8].title %></span>
          <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
        <% end %>
      </div>
      <div class="ranking-review-status">
        <span><%= ranking_reviews[8].likes.size %>like / <%= ranking_reviews[8].user.username %> / <%= l(ranking_reviews[8].created_at, format: :long) %></span>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
