<div>
  <% if @pv_ranking %>
    <div id="impression_rank">
      <% @pv_ranking.each.with_index(1) do |rank, i| %>
        <div id="rank">
          <%= "#{i}" %>位
          <%= link_to "#{rank.title}", review_path(rank) %>
          <%= rank.impressionist_count %>レビュー
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <h2>全ての投稿</h2>
  <input type="hidden" id="review_total" value="<%= @reviews.size %>">
  <input type="hidden" id="recommend_user_total" value="<%= @will_recommend_users.size %>">
</div>

    <% @reviews.each do |review| %>
      <div id="review_<%= review.id %>" class="each_review book_review_<%= review.id %>">
        <div>
          <div id="like_form<%= review.id %>" class="like_class<%= review.id %>">
            <%= render partial: 'shared/like_form', locals: { review: review } %>
          </div>

          <div id="report_form<%= review.id %>">
            <%= render partial: 'reviews/all_reviews_display', locals: { review: review } %>
          </div>

          <div id="recommend_messages">
            <% @recommends.each do |recommend| %>
              <% if recommend.review_id == review.id && recommend.recommended_user_id == current_user.id %>
                  <div>この投稿は、<%= recommend.recommend_user.username %>におすすめされています</div>
              <% end %>
            <% end %>
          </div>

          <div>
            <div id="open_recommend_modal_<%= review.id %>" class="recommend_users_display open_modal">リコメンド</div>
            <div id="recommend_modal_<%= review.id %>" style="display: none;">
              <div class="modal-back">
                <div class="modal_close close_recommend_modal_<%= review.id %>">
                </div>
                <div class="recommend_modal_body">
                  <div class="modal_close_btn close_recommend_modal_<%= review.id %>">✖︎</div>
                  <div id="recommend_users_<%= review.id %>">
                  </div>
                  <div class="recommend_users">
                    <% @will_recommend_users.each do |will_recommend_user| %>
                      <div class="recommend_user recommend_review_<%= review.id %> recommend_user_<%= will_recommend_user.id %>">
                        <% if will_recommend_user.avatar.url %>
                          <img src="<%= will_recommend_user.avatar.url %>" class="comment-logo">
                        <% else %>
                          <img src="/uploads/user/avatar/default.png" class="comment-default-logo">
                        <% end %>
                        <span><%= will_recommend_user.username %></span>
                      </div>
                    <% end %>
                  </div>
                  <div class="recommend_cancel" style="cursor: pointer;">キャンセル</div>
                  <div class="recommend_send" style="cursor: pointer;">リコメンド</div>
                </div>
              </div>
            </div>

          </div>

          <div>
            <%= review.user.username %>
            <% if review.user.avatar.url %>
              <div>
                <img src="<%= review.user.avatar.url %>" class="aaa">
              </div>
            <% else %>
              <div>
                <img src="/uploads/user/avatar/default.png" class="bbb">
              </div>
            <% end %>
          </div>
          <div>
            <% if review.picture.url %>
              <img class="all_review_img" src="<%= review.picture.url %>">
            <% else %>
              <b>画像はありません</b>
            <% end %>
          </div>
            <div><%= link_to "#{review.title}", review_path(review) %></div>
            <div><%= review.content %></div>
            <div><%= review.rate %></div>
            <div><%= time_ago_in_words(review.created_at).delete("約").delete("未満") %>前</div>
            <div id="all_review_tags">
              <span>タグ</span>
              <% review.tags.each do |tag| %>
                <div>#<%= tag.name %></div>
              <% end %>
            </div>
            <div>
              <%= link_to review.link, target: :_blank do %>
                <%= review.link %>
              <% end %>
            </div>
            <div>
              <% if current_user.admin? %>
              <%= link_to "削除する", review_destroy_path(id: review.id, original_page: "exist"), method: :delete,
                                          data: { confirm: "本当にこの投稿を削除しますか？" } %>
              <% end %>
            </div>
        </div>
      </div>

    <% end %>
<div class="index">
  <div id="unknown_users">
    <div>友達を探そう!!</div>
    <% if @unknown_users %>
      <% @unknown_users.each do |unknown_user| %>
        <div>
          <% @user = unknown_user %>
          <% if @user.avatar.url %>
            <img src="<%= @user.avatar.url %>" class="comment-logo">
          <% else %>
            <img src="/uploads/user/avatar/default.png" class="comment-default-logo">
          <% end %>
          <span><%= @user.username %></span>
          <span id="follow_form<%= @user.id %>" class="follow_class<%= @user.id %>">
            <%= render 'shared/follow_form' %>
          </span>
        </div>
      <% end %>
    <% else %>
      <div>フォローしていないユーザーはいません。</div>
    <% end %>
  </div>

  <div id="may_friend_users">
    <div>知り合いかも？</div>
    <% if @may_friend_users %>
      <% @may_friend_users.each do |may_friend_user| %>
        <div>
          <% @user = may_friend_user %>
          <% if @user.avatar.url %>
            <img src="<%= @user.avatar.url %>" class="comment-logo">
          <% else %>
            <img src="/uploads/user/avatar/default.png" class="comment-default-logo">
          <% end %>
          <span><%= @user.username %></span>
          <span id="may_friend_follow_form<%= @user.id %>" class="may_friend_follow_class<%= @user.id %>">
            <%= render 'shared/follow_form' %>
          </span>
        </div>
      <% end %>
    <% else %>
      <div>知り合いかもしれないユーザーはいません。</div>
    <% end %>
  </div>

</div>
<div id="ranking_ajax" class="index">
  <%= render partial: 'reviews/ranking', locals: { ranking_reviews: @ranking_reviews } %>
</div>

<script type="text/javascript">
  var review_total = $('#review_total').val();
  var review_total_number = Number(review_total);
  var recommend_user_total = $('#recommend_user_total').val();
  var recommend_user_total_number = Number(recommend_user_total);
  var select_user_ids = [];
  var recommend_datas;

  $(`.open_modal`).on('click',function(){
    review_id = $(this).closest('.each_review').attr('class').split(" ")[1].substring(12);
    review_id = Number(review_id);
    console.log(review_id);
    for (let i = 2; i <= recommend_user_total_number + 1; i++) {
      $(`.recommend_user_${i}`).removeClass('select_user');
    }
    select_user_id = "";
    select_review_id = "";
    recommend_datas = "";
    select_user_ids = [];
    $.ajax({
      type: 'GET',
      url: 'recommend/modal',
      data: {review_id: review_id},
      dataType: 'json',
    }).done(function(contents){
      for (let i = 0; i <= contents.click_user_ids.length - 1; i++) {
        $(`.recommend_user_${contents.click_user_ids[i]}`).click();
        select_user_ids.push(Number(contents.click_user_ids[i]));
      }
    });

    $(`#recommend_modal_${review_id}`).fadeIn();
      return false;
    });

    $(`.modal_close`).on('click',function(){
      review_id = $(this).attr('class').split(" ")[1].substring(22);
      $(`#recommend_modal_${review_id}`).fadeOut();
      return false;
    });

    $(`.recommend_user`).on('click',function(){
      select_review_id = review_id;
      select_user_id = $(this).attr('class').split(" ")[2].substring(15);

      if (select_user_ids.includes(Number(select_user_id))) {
        select_user_ids = select_user_ids.filter(item => item != Number(select_user_id));
      }else{
        select_user_ids.push(Number(select_user_id));
      }
      $(this).toggleClass('select_user');
      $(this).css('background', '');
    });

    $('.recommend_user').hover(function() {
      hover_user_id = $(this).attr('class').split(" ")[2].substring(15);
      if (select_user_ids.includes(Number(hover_user_id)) == false) {
        $(this).css('background', '#c00');
      }
    }, function() {
      $(this).css('background', '');
    });

    $(`.recommend_cancel`).click(function() {
        $(`.select_user`).click();
        select_user_ids = [];
    });

    $(`.recommend_send`).click(function() {
      recommend_user_datas = select_user_ids.join();

      $.ajax({
        type: 'GET',
        url: 'recommends',
        data: {recommend_user_datas: recommend_user_datas, review_id: review_id},
        dataType: 'json',
      }).done(function(contents){
        $(`#recommend_modal_${contents.review_id}`).fadeOut();
        Swal.fire(
          'Good job!',
          'You clicked the button!',
          'success'
        )
      });
    });
</script>

<style>

  .select_user {
    background-color: #0000FF;
  }

  .recommend_modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    width: 600px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
  }

  .recommend_users {
    height: 500px;
    overflow-y: scroll;
  }
</style>
