<% provide(:title, "全ての投稿") %>

<style media="screen">

  body {
    background-color: #e9f1f5;
  }

  .footer {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
  }

  .recommend_modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    width: 600px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
  }

  .recommend_users {
    height: 500px;
    overflow-y: scroll;
  }

  .footerFixed {
    height: auto;
  }

  .open_modal {
    cursor: pointer;
    display: inline-block;
  }

  .open_report_modal {
    cursor: pointer;
    display: inline-block;
  }

  .modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
  }

  .modal_close {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .report_modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
  }

  .modal_close_btn {
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }

  .subheader-menu-link-all-reviews-word {
    color: rgb(0,121,181);
  }

  .subheader-menu-link-all-reviews-word:hover {
    background-color: rgba(0,121,181,0.1);
    color: rgb(0,121,181);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .subheader-menu-link-all-reviews {
    height: 2px;
    background-color: #0B6597;
  }
</style>

<input type="hidden" id="review_total" value="<%= @reviews.size %>">
<input type="hidden" id="recommend_user_total" value="<%= @will_recommend_users.size %>">

<div class="all-reviews-size container">
  <div class="row">
    <div class="col-md-8 all-reviews-left">
        <% @reviews.each do |review| %>
          <div id="review_<%= review.id %>" class="each-review book_review_<%= review.id %>">
            <div class="all-reviews-post-names-div">
              <div class="all-reviews-post-names">
                <div class="all-reviews-post-name-titles">
                  <%= link_to userpage_path(review.user.id), class: "all-reviews-title-image" do %>
                    <% if review.user.avatar.url %>
                      <img src="<%= review.user.avatar.url %>" class="icon-image-class" style="height: 45px; width: 45px;">
                    <% else %>
                      <img src="/uploads/user/avatar/default.png" class="icon-image-class" style="height: 45px; width: 45px;">
                    <% end %>
                 <% end %>
                  <div class="all-reviews-post-username" style="opacity: 87%;">
                    <%= link_to "#{review.user.username}", userpage_path(review.user.id), class: "user-icon-link-color" %>
                    <div class="all-review-to-detail">
                      <span class="all-review-to-since">Since <%= review.user.created_at.strftime("%Y/%m/%d") %></span>
                    </div>
                  </div>
                </div>
                <% if current_user != review.user %>
                  <div id="follow-div<%= review.id %>" class="follow-div-color">
                    <% if current_user.following?(review.user) %>
                      <div id="not_follow_btn<%= review.id %>" class="not_follow_btn_ajax all-reviews-icon follow_user<%= review.user.id %>">
                        following
                      </div>
                    <% else %>
                      <div id="follow_btn<%= review.id %>" class="follow_btn_ajax all-reviews-icon not_follow_user<%= review.user.id %>">
                        <i class="fa-xs fas fa-plus"></i>
                        follow
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="all-reviews-stars">
              <% review.rate.times do |time| %>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 512 512" style="width: 17px; height: 17px; opacity: 1;" xml:space="preserve">
                  <g>
                    <polygon class="st0" points="256,12.531 327.047,183.922 512,198.531 370.938,319.047 414.219,499.469 256,402.563 97.781,499.469    141.063,319.047 0,198.531 184.953,183.922  " style="fill: #ffd055;"/>
                  </g>
                </svg>
              <% end %>
            </div>
            <div class="all-reviews-content">
              <%= review.content %>
              <% review.tags.each do |tag| %>
                <%= link_to reviews_path(search_word: tag.name) do %>
                  <span class="mypage-review-tag">#<%= tag.name %></span>
                <% end %>
              <% end %>
            </div>
            <div class="all-reviews-detail-link">
              <%= link_to review_path(review), class: "all-review-to-detail" do %>
                <span class="all-review-to-word">投稿詳細へ</span>
                <svg class="api-item-link-logo all-review-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
              <% end %>
            </div>
            <div class="mypage-review-bottom">
              <div class="mypage-review-bottom-icons">
                <div id="like-div<%= review.id %>" class="mypage-review-icon">
                  <% if review.like_by?(current_user) %>
                    <i id="not_like_btn<%= review.id %>" class="not_like_btn_ajax fas fa-heart mypage-reviews-like-icon all-reviews-icon"></i>
                  <% else %>
                    <i id="like_btn<%= review.id %>" class="like_btn_ajax far fa-heart mypage-reviews-like-icon all-reviews-icon"></i>
                  <% end %>
                </div>

                <!-- モーダルクリック -->
                <label for="trigger-now-<%= review.id %>" class="fas fa-retweet mypage-reviews-recommend-icon mypage-review-icon all-reviews-icon recommend_review_id_<%= review.id %>" style="display: flex;">
                </label>
                <div class="modal_wrap">

                  <!-- モーダルの表示 -->
                  <input id="trigger-now-<%= review.id %>" type="checkbox">

                  <div class="modal_overlay">

                    <!-- モーダルを閉じる  -->
                    <label for="trigger-now-<%= review.id %>" class="modal_trigger recommend-modal-<%= review.id %>"></label>

                    <div class="show_recommend_modal_content">
                      <div class="recommend-modal-titles">
                        <label style="color: white;" for="trigger-now-<%= review.id %>" class="recommend-s-modal-<%= review.id %>">.</label>
                        <div class="recommend-modal-title-name">Who You Recommend ?</div>
                        <div class="recommend-modal-title-caution">(複数選択可)</div>
                      </div>
                      <div class="modal-recommned-scroll">
                        <div class="recommend-modal-title">
                          </div>
                          <% @will_recommend_users.each do |will_recommend_user| %>
                            <div id="recommend_id_user_<%= will_recommend_user.id %>" class="recommend_user recommend_review_<%= review.id %> recommend_user_<%= will_recommend_user.id %>">
                              <div class="will_recommend_user_profiles">
                                <% if will_recommend_user.avatar.url %>
                                  <img src="<%= will_recommend_user.avatar.url %>" class="icon-image-class" style="height: 45px; width: 45px;">
                                <% else %>
                                  <img src="/uploads/user/avatar/default.png" class="icon-image-class" style="height: 45px; width: 45px;">
                                <% end %>
                                <div class="will_recommend_user-titles">
                                  <span style="opacity: 87%;" class="will_recommend_username"><%= will_recommend_user.username %></span>
                                  <span style="opacity: 87%;" class="will_recommend_since">Since <%= review.user.created_at.strftime("%Y/%m/%d") %></span>
                                </div>
                              </div>
                              <div class="recommend-folloing-div">
                                <% if current_user.following?(will_recommend_user) %>
                                  <span class="recommend-folloing">(フォロー中)</span>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                      </div>
                      <div class="recommend-modal-btns">
                        <div class="recommend-option-btns">
                          <div class="recommend-btn-reset">
                            <svg style="height: 38px;width: 38px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                              <style type="text/css">
 	                              .st22{fill:rgba(0,0,0,0.6);}
                              </style>
                              <g>
	                              <path style="height: 22px;width: 22px;" class="st22" d="M255.996,0.005C114.615,0.005,0,114.62,0,256c0,141.38,114.615,255.996,255.996,255.996   C397.39,511.995,512,397.38,512,256C512,114.62,397.39,0.005,255.996,0.005z M308.86,377.124l-87.064,45.899l1.878-35.924   c-23.849-5.799-45.64-18.064-63.186-35.609c-25.489-25.44-39.525-59.346-39.525-95.49c0-18.633,3.746-36.714,11.132-53.741   l1.435-3.299l31.959,13.879l-1.426,3.298c-5.466,12.633-8.238,26.047-8.238,39.863c0,26.766,10.422,51.926,29.344,70.84   c11.374,11.378,25.261,19.835,40.381,24.625l1.487-28.072l90.876,48.916L308.86,377.124z M379.892,309.733l-1.43,3.298   l-31.963-13.879l1.434-3.298c5.461-12.589,8.233-25.994,8.233-39.855c0-26.766-10.422-51.925-29.344-70.848   c-11.427-11.387-25.314-19.844-40.38-24.625l-1.488,28.072l-90.95-48.925l9.194-4.816l17.146-9.08l69.852-36.801l-1.877,35.871   c23.87,5.842,45.662,18.133,63.184,35.652c25.533,25.538,39.569,59.452,39.526,95.499   C391.029,274.668,387.283,292.749,379.892,309.733z" style="fill: rgba(0,0,0,0.6);"/>
                              </g>
                            </svg>
                            <span class="recommend-reset recommend-word-padding-left">リセット</span>
                          </div>
                          <div class="recommend-btn-update recommend-update-id-<%= review.id %>">
                            <svg style="height: 40px;width: 40px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                              <style type="text/css">
	                              .st44{fill: #4CAF50;}
                              </style>
                              <g>
	                              <path class="st44" d="M509.86,267.434c-2.785-4.717-7.858-7.613-13.338-7.613h-43.677v-108.21   c0.014-19.402-7.962-37.293-20.698-49.971c-12.678-12.738-30.57-20.721-49.973-20.699l-194.482-0.007   c-6.088,0-11.731,3.222-14.818,8.472c-3.089,5.243-3.178,11.738-0.222,17.062l17.55,31.65c3.792,6.828,10.99,11.072,18.795,11.072   h173.178c0.786,0.014,1.17,0.214,1.71,0.703c0.49,0.548,0.696,0.933,0.711,1.718v108.21h-43.678c-5.48,0-10.553,2.896-13.338,7.613   c-2.777,4.74-2.858,10.575-0.199,15.374l77.802,140.29c2.726,4.918,7.91,7.969,13.538,7.969s10.812-3.051,13.537-7.969   l77.802-140.29C512.719,278.009,512.637,272.174,509.86,267.434z" style="fill: #4CAF50;"/>
	                              <path class="st44" d="M321.791,373.873c-3.792-6.835-10.983-11.071-18.796-11.071h-173.17c-0.785-0.014-1.17-0.214-1.711-0.703   c-0.488-0.541-0.696-0.926-0.71-1.71v-108.21h43.678c5.473,0,10.553-2.896,13.337-7.613c2.778-4.74,2.859-10.575,0.201-15.374   l-77.802-140.29c-2.733-4.918-7.91-7.969-13.537-7.969c-5.629,0-10.805,3.051-13.538,7.969L1.94,229.192   c-2.658,4.798-2.577,10.634,0.2,15.374c2.785,4.717,7.865,7.613,13.338,7.613h43.678v108.21   c-0.015,19.402,7.961,37.294,20.698,49.972c12.678,12.737,30.57,20.714,49.972,20.69l194.476,0.008   c6.086,0,11.73-3.222,14.818-8.472c3.087-5.251,3.177-11.738,0.222-17.07L321.791,373.873z" style="fill: #4CAF50;"/>
                              </g>
                            </svg>
                            <span class="recommend-word-padding-left recommend-word-color">更新</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


                <!-- 通報モーダルクリック -->
                  <div id="report-div-btn-<%= review.id %>" class="report-div-btn">
                    <% unless review.report_by?(current_user) %>
                      <label for="trigger-report-<%= review.id %>" class="report-display-flex  report-review-btn-<%= review.id %>">
                        <div class="mypage-review-report-icon">
                          <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 192.146 192.146" style="enable-background:new 0 0 192.146 192.146;" xml:space="preserve">
                            <path style="fill: #797979;" d="M108.186,144.372c0,7.054-4.729,12.32-12.037,12.32h-0.254c-7.054,0-11.92-5.266-11.92-12.32     c0-7.298,5.012-12.31,12.174-12.31C103.311,132.062,108.059,137.054,108.186,144.372z M88.44,125.301h15.447l2.951-61.298H85.46     L88.44,125.301z M190.372,177.034c-2.237,3.664-6.214,5.921-10.493,5.921H12.282c-4.426,0-8.51-2.384-10.698-6.233     c-2.159-3.849-2.11-8.549,0.147-12.349l84.111-149.22c2.208-3.722,6.204-5.96,10.522-5.96h0.332     c4.445,0.107,8.441,2.618,10.513,6.546l83.515,149.229C192.717,168.768,192.629,173.331,190.372,177.034z M179.879,170.634     L96.354,21.454L12.292,170.634H179.879z"/>
                          </svg>
                        </div>
                      </label>
                    <% else %>
                      <div class="mypage-review-report-icon-off">
                        <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 192.146 192.146" style="enable-background:new 0 0 192.146 192.146;" xml:space="preserve">
    		         	        <path style="fill: rgba(0,0,0,.2);" d="M108.186,144.372c0,7.054-4.729,12.32-12.037,12.32h-0.254c-7.054,0-11.92-5.266-11.92-12.32     c0-7.298,5.012-12.31,12.174-12.31C103.311,132.062,108.059,137.054,108.186,144.372z M88.44,125.301h15.447l2.951-61.298H85.46     L88.44,125.301z M190.372,177.034c-2.237,3.664-6.214,5.921-10.493,5.921H12.282c-4.426,0-8.51-2.384-10.698-6.233     c-2.159-3.849-2.11-8.549,0.147-12.349l84.111-149.22c2.208-3.722,6.204-5.96,10.522-5.96h0.332     c4.445,0.107,8.441,2.618,10.513,6.546l83.515,149.229C192.717,168.768,192.629,173.331,190.372,177.034z M179.879,170.634     L96.354,21.454L12.292,170.634H179.879z"/>
                        </svg>
                      </div>
                    <% end %>
                  </div>

                <div class="modal_wrap">

                  <!-- 通報モーダルの表示 -->
                  <input id="trigger-report-<%= review.id %>" type="checkbox">

                  <div class="modal_overlay">

                    <!-- 通報モーダルを閉じる  -->
                    <label for="trigger-report-<%= review.id %>" class="modal_trigger"></label>

                    <div class="report_modal_content">
                      <div class="report_modal_icon">
                        <i class="fas fa-exclamation-triangle"></i>
                      </div>
                      <div class="report_modal_question">本当に通報しますか？</div>
                      <div class="report_modal_sentence">(※後から取り消す事はできません)</div>
                      <div class="report_modal_btns">
                        <label for="trigger-report-<%= review.id %>" class="report-cancel-btn report-cancel-<%= review.id %>">キャンセル</label>
                        <div class="report-really-btn report-review-id-<%= review.id %>">通報</div>
                      </div>
                    </div>

                  </div>
                </div>



              </div>
              <div style="opacity: 87%;" class="mypage-review-created-at"><%= l review.created_at %></div>
            </div>
          </div>
        <% end %>
    </div>
    <div class="col-md-4 all-reviews-right">
      <div id="ranking_ajax" class="like-ranking">
        <%= render partial: 'reviews/ranking', locals: { ranking_reviews: @ranking_reviews } %>
      </div>
      <% if @top_pv_reviews.size >= 3 %>
      <div class="pv-ranking">
        <div class="like-ranking-title">
          <div class="like-ranking-title-word">
            PVランキング
          </div>
          <div class="like-ranking-title-icon">
            <svg style="fill: #6A6F70;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 200 145.218"><path d="M112.159,265.46v.028L62.307,323.72l-39.689-40V378.5H201.724V283.719l-39.689,40-49.852-58.232v-.028l-.012.014ZM16.519,387.2a4.338,4.338,0,0,0-4.348,4.348v14.782a4.338,4.338,0,0,0,4.348,4.348h191.3a4.338,4.338,0,0,0,4.348-4.348V391.547a4.338,4.338,0,0,0-4.348-4.348Z" transform="translate(-12.171 -265.459)"/></svg>
          </div>
        </div>
        <% if @top_pv_reviews.first %>
          <div id="ranking_1" class="ranking-review-individual">
            <div class="ranking-icon-div-left">
              <div class="ranking-icon-div">
                <svg class="ranking-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABlVBMVEVHcEypdQSkcQClcQCl           cwCkcQCkcQCkcQClcgCyfwDMmQCmcQClcQClcQClcgGkcQCkcQCqcQCueACkcgCkcQCndAKkcQCk cQCncgCqcwCkcQCpdwWlcQCmdgCmcwClcQClcgCkcQCkdAClcQCodQOkcQCmcgCqqgCkcgClcQC/ fwCkcQClcgCkcgCkcQCvfwC/fwClcgCmcwKkcQClcgCmdQCkcgCpdgSlcQCqdQCndgCkcgCkcgCm cwClcQCkcQCkcQCkcQCmcQD/fwCkcQCqfwCkcQCkcQCwdQCkcwCkcQCmeQClcQCqcQCkcQCteQel cwCueQekcQDntEDmsz7jsDvRniquewnKlyTWoy+yfw3ToC3aqDO3hBK2gxHcqTXerDe8iRbAjhvi rzvirjrAjRvKliPksTzFkyDUoS3LlyTntD/QnSmtegjAjRrVoi6xfgzZpjK1ghDdqja7iBXhrjnA jBrhrjrEkR7lsz7JlyPToCznsz/OmyiseQfcqDSvfQvYpTG0gQ/cqjW5hhS+ixj///+JM9KCAAAA UnRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID7XUI1/72hxAEb/78 mhqT/q0nKbfAN0rRbt9cAusG9IINSfoXqCSS1DPQQs8olQAAAAFiS0dEhozeO10AAAAHdElNRQfm AgYBHTX7f5yLAAABdElEQVRYw+3Z1VYCYRiF4R8DE5WwFVuxxU7s7u0odqEidgd23bfMuGAJzCDM 4Nm3L+A5eE83Q5jGwgjNhWEEEUQQQQQRRBBBBBFEEEEEEUQQQQQRRBBBBBFE0D9C3Hx4oAWrapFT Di0t8yeDdUUhtLoGRERGRQPrGwqgzS01YmLjGItPSIRm2yYT2tlNQnKKlgnT6Q1Q7XEyIPt+KtLS M5hnmVmuVI5QIe4gG8jJZV4zSqaSgg6PjoG8fOY7IdWJLWjo9AwoKGRi0xUZUOyfShQ6vwBKSsuY xERTiUCXV2qYyitYgBkr/VL5Qdc3VaiuqWWBV2fmU91KQ/a7ejQ0NrG/p232TuUF3TtbgNa2IBh+ 7R2uVA8i0OPTM9DZFSTDz8KnevGFHK9AtyUEhk/V40nlht7egd6+/tAcdyon54Y+PoEB82DIzK9U AvSlwdDwiCyG3yif6uenHdOPy2aEVCbhp1VPTCphhFRTBrDpGaWMkGr2G1Bz76Ye65KpAAAAJXRF WHRkYXRlOmNyZWF0ZQAyMDIyLTAyLTA2VDAxOjI5OjUyKzAwOjAwo3mUpAAAACV0RVh0ZGF0ZTpt b2RpZnkAMjAyMi0wMi0wNlQwMToyOTo1MiswMDowMNIkLBgAAAAASUVORK5CYII="/>
                </svg>
                <div class="ranking-icon-number">1</div>
              </div>
            </div>
            <div class="ranking-icon-div-right">
              <div class="ranking-review-link">
                <%= link_to review_path(@top_pv_reviews.first), class: "ranking-review-link-path" do %>
                  <span><%= @top_pv_reviews.first.title %></span>
                  <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
                <% end %>
              </div>
              <div class="ranking-review-status">
                <span><%= @top_pv_reviews.first.impressionist_count %>PV / <%= @top_pv_reviews.first.user.username %> / <%= l(@top_pv_reviews.first.created_at, format: :long) %></span>
              </div>
            </div>
          </div>
        <% end %>
        <% if @top_pv_reviews.second %>
          <div id="ranking_2" class="ranking-review-individual">
            <div class="ranking-icon-div-left">
              <div class="ranking-icon-div">
                <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
                    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABXFBMVEVHcEyGhoaCgoKDg4OE
                hISDg4OCgoKCgoKDg4OZmZmZmZmEhISCgoKDg4OCgoKCgoKNjY2GhoaCgoKCgoKEhISCgoKCgoKD
                g4OFhYWCgoKDg4OCgoKEhISCgoKDg4OCgoKEhISCgoKFhYWCgoKCgoKqqqqCgoKCgoKfn5+CgoKC
                goKCgoKPj4+/v7+CgoKCgoKCgoKJiYmCgoKDg4OCgoKCgoKCgoKCgoKGhoaCgoKCgoKEhISCgoKC
                goL///+CgoKqqqqCgoKDg4OJiYmEhISCgoKFhYWCgoKGhoaCgoKJiYmCgoKJiYmCgoK4uLi1tbWm
                pqaKioqgoKC3t7eqqqqNjY2Li4uoqKiurq6RkZGvr6+xsbGVlZWYmJi0tLSZmZmhoaG2tradnZ2i
                oqKlpaWJiYmpqamtra2QkJCwsLCUlJSysrKcnJykpKSIiIisrKyPj4+Tk5OXl5f///86wnCqAAAA
                TXRSTlMA/uZnTdj+8HoKBXDu/viNEhOV+/79oB0quLMrS8Q81U+U/uJiA+11CNf2hxAEb/yaGpOt
                Jym3wDdK0W7fXALrBvSCDUn6F6gkktQz0ICkOKQAAAABYktHRD5JZADjAAAAB3RJTUUH5gIGAR02
                YnbNMQAAAXFJREFUWMPt2VVXAlEYheGDMeYoZWMrNnZgd28RUEoBMbHj/1/IGRYsGKkJ7779A56L
                98yam49BpzEdoTMdRhBBBBFEEEEEEUQQQQQRRBBBBBFEEEEEEUQQQQT9J+TSBzp3Gzxe7dDFJT8y
                +PwaoUAQKCuvqASCIQ3Q1bWAquoaxmrr6iGGIyqhSFREQ6ORSTOZLTDceFVAsVsrmppbWHqtbflT
                5Ye8dwagvYNlzcZTBRRB9w9AZxeTT0oVjZQMPSZevLuH5Zqp14K+v6lyQk9xoH9gkOUZT+X2F4ee
                XwTYh4ZZgdlGgHigMPQaFjA6Ns4Kb8Ih/6pkkOvNismpaVZ8xpnsVFlQzJN48dm5Ehi++YXMVJnQ
                +wewuFQiw+fkqUJyyO8Dlp0KGJ5qJZ0qBX1+Aatr68qcVCr+r0pCoW9gw7GpmMlIJUE/Ira2d1Qx
                fLuJVMHknXbPvK+akVLZpTutcHCohZFSHVnAjk+0MlKq01/FfWNNj04y/QAAACV0RVh0ZGF0ZTpj
                cmVhdGUAMjAyMi0wMi0wNlQwMToyOTo1NCswMDowMMCpoZ4AAAAldEVYdGRhdGU6bW9kaWZ5ADIw
                MjItMDItMDZUMDE6Mjk6NTQrMDA6MDCx9BkiAAAAAElFTkSuQmCC" />
                </svg>
                <div class="ranking-icon-number">2</div>
              </div>
            </div>
            <div class="ranking-icon-div-right">
              <div class="ranking-review-link">
                <%= link_to review_path(@top_pv_reviews.second), class: "ranking-review-link-path" do %>
                  <span><%= @top_pv_reviews.second.title %></span>
                  <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
                <% end %>
              </div>
              <div class="ranking-review-status">
                <span><%= @top_pv_reviews.second.impressionist_count %>PV / <%= @top_pv_reviews.second.user.username %> / <%= l(@top_pv_reviews.second.created_at, format: :long) %></span>
              </div>
            </div>
          </div>
        <% end %>
        <% if @top_pv_reviews.third %>
          <div id="ranking_3" class="ranking-review-individual-last">
            <div class="ranking-icon-div-left">
              <div class="ranking-icon-div">
                <svg class="ranking-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="54px" viewBox="0 0 72 108" enable-background="new 0 0 72 108" xml:space="preserve">  <image id="image0" width="72" height="108" x="0" y="0"
                    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABsCAMAAAD+DgRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABoVBMVEVHcEw7HQI1GQA2GwA4
                GgA1GQA1GQA1GQA2GQBMGQBmMwA2GQA1GQA2GQA2GgA1GQA2GQA4HAA1GgA1GQA1GQA5HAE1GQA2
                GQA9GgA2HgA2GgA8HgM2GQA1HQA2GwA1GgA3GQA1GQA2GQA1GQA6HQI1GQA2GgBVVQA1GQA2GgA/
                HwA1GgA3GgA1GQA2GgA/HwA/PwA3GQA4HAE1GQA2GgA6HQA1GgA1GQA6GgA3HwA2GQA1GQA3GwA3
                GwA1GQA1GQA1GQA3GwB/fwA1GgBVKgA1GQA2GQA6JwA3GwA1GQA3IQA1GQA4HAA2GgA/IAQ3GQA/
                IQQ1GQCLVyqJVimGUydvQxxCIgZmPBeKVil1Rx9GJghCIwZyRR16SyJOKgtNKgt9TSOATyRUMA5Z
                MxGEUiZaNBFlOxeHVChgOBVnPRh8TSKLVyltQRtAIQVzRh5FJQh6SiFLKQp+TiNSLg5MKguDUSVY
                MhFYMxGFUiaGVCdfNhSJVShlPBdxRR2KVylrQBo/IQR9TCJDJAdZMhF3SSBKKAp9TiNQLQ1yRB1W
                MRD///+5Or20AAAAUXRSTlMA/uZnTdj+8HoKBXDu/v74jRITlfv+/aAdKrj+sytLxDzVT5T+4mID
                7XUI1/72hxAEb/78mhqTrScpt8A3StFu31wC6wb0gg1J+heoJJLUM9BH6iqyAAAAAWJLR0SKhWh3
                dgAAAAd0SU1FB+YCBgEdNmJ2zTEAAAF6SURBVFjD7dnVVkJRFIXhjYGJAdjdHdiF3T0NRMXGwm5U
                7H5r2YcBQ5RDHbxb8wG+i39dLoYAjQUQmgrACCKIIIIIIogggggiiCCCCCKIIIIIIogggggiiKB/
                hKZnAgPN6mRzeunQ/AJ/MiwaJEJLy0BQcEgosLIqAVpblyMsPIKxyKhoKDaMfkLGzRjExsUzYUqV
                GrItvR/Q9k4CEpOSmWMpqeKpxCH9bhqQnsGclslTmXyB9vYPgKxs9nuiqUSgwyMgJ5e5mjJPjfy/
                qVxCxydAQWERExlPpTN4hk7P5CguKWVullkGnJvcQxeX5aiorGLuV62xproyi0PXNzWoratnnhff
                4JzKCbq1WC/e2OQFw9fcYk115wK6f3gEWtu8ZPi0PNXTb8jwDLRrfWB4qg5rqhfzT+j1Dejs6vbN
                saey6O3Q+wfQo+n1mXGk+rRBXwr09Q/4xfAN8lS2P+2QathvRkhVLPxp5SOjUhgh1ZgabHxCKiOk
                mvwGwxDVESwn+dcAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDItMDZUMDE6Mjk6NTQrMDA6MDDA
                qaGeAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAyLTA2VDAxOjI5OjU0KzAwOjAwsfQZIgAAAABJ
                RU5ErkJggg==" />
                </svg>
                <div class="ranking-icon-number">3</div>
              </div>
            </div>
            <div class="ranking-icon-div-right">
              <div class="ranking-review-link">
                <%= link_to review_path(@top_pv_reviews.third), class: "ranking-review-link-path" do %>
                  <span><%= @top_pv_reviews.third.title %></span>
                  <svg class="like-ranking-to-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
                <% end %>
              </div>
              <div class="ranking-review-status">
                <span><%= @top_pv_reviews.third.impressionist_count %>PV / <%= @top_pv_reviews.third.user.username %> / <%= l(@top_pv_reviews.third.created_at, format: :long) %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

      <div class="all-reviews-tag">
        <div class="tag-ranking-title">
          <div class="like-ranking-title-word">
            タグ
          </div>
          <div class="tag-ranking-title-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 22px; height: 22px; opacity: 1;" xml:space="preserve">
              <style type="text/css">
	              .st0{fill: #6A6F70;}
              </style>
              <g>
	              <path class="st0" d="M418.562,173.34c5.999-1.291,10.281-6.582,10.281-12.724V103.86c0-3.927-1.775-7.649-4.834-10.124   c-3.058-2.466-7.07-3.425-10.912-2.6l-51.621,11.093V30.884c0-3.856-1.713-7.515-4.672-9.99c-2.964-2.475-6.869-3.507-10.662-2.816   l-38.686,7.013c-6.192,1.121-10.694,6.51-10.694,12.805v78.242l-80.658,17.333V64.117c0-3.856-1.713-7.514-4.672-9.99   c-2.958-2.475-6.864-3.506-10.662-2.816l-38.69,7.004c-6.192,1.12-10.693,6.511-10.693,12.806v76.25l-57.948,12.456   c-5.999,1.282-10.281,6.59-10.281,12.724v56.756c0,3.927,1.776,7.649,4.834,10.124c3.062,2.466,7.07,3.426,10.917,2.601   l52.478-11.281v108.39l-57.948,12.456c-5.999,1.282-10.281,6.582-10.281,12.715v56.737c0,3.928,1.776,7.649,4.834,10.125   c3.062,2.466,7.07,3.425,10.917,2.6l52.478-11.281v76.492c0,3.856,1.712,7.515,4.672,9.99c2.959,2.476,6.864,3.507,10.662,2.816   l38.686-6.995c6.192-1.12,10.698-6.51,10.698-12.805v-83.397l80.658-17.334v74.502c0,3.865,1.712,7.524,4.672,9.99   c2.96,2.475,6.865,3.506,10.662,2.815l38.686-7.004c6.192-1.121,10.694-6.51,10.694-12.805V377.35l57.087-12.267   c5.999-1.291,10.281-6.582,10.281-12.724v-56.729c0-3.927-1.775-7.649-4.834-10.124c-3.058-2.466-7.07-3.426-10.912-2.6   l-51.621,11.093v-108.39L418.562,173.34z M296.761,307.906l-80.658,17.326V216.85l80.658-17.334V307.906z" style="fill: #6A6F70;"/>
	              <path class="st0" d="M364.421,0.036c0.022,0,0.04,0,0.062-0.009L364.65,0L364.421,0.036z" style="fill: ##6A6F70;"/>
              </g>
            </svg>
          </div>
        </div>
        <ul class="all-review-tags">
          <%= link_to reviews_path(search_word: "ruby"), class: "all-review-tag-a all-review-tag-ruby" do %>
            <span class="all-review-tag-search">#Ruby</span>
          <% end %>
          <%= link_to reviews_path(search_word: "rails"), class: "all-review-tag-a all-review-tag-rails" do %>
            <span class="all-review-tag-search">#Rails</span>
          <% end %>
          <%= link_to reviews_path(search_word: "php"), class: "all-review-tag-a all-review-tag-php" do %>
            <span class="all-review-tag-search">#PHP</span>
          <% end %>
          <%= link_to reviews_path(search_word: "laravel"), class: "all-review-tag-a all-review-tag-laravel" do %>
            <span class="all-review-tag-search">#Laravel</span>
          <% end %>
          <%= link_to reviews_path(search_word: "python"), class: "all-review-tag-a all-review-tag-python" do %>
            <span class="all-review-tag-search">#Python</span>
          <% end %>
          <%= link_to reviews_path(search_word: "django"), class: "all-review-tag-a all-review-tag-django" do %>
            <span class="all-review-tag-search">#Django</span>
          <% end %>
          <%= link_to reviews_path(search_word: "go"), class: "all-review-tag-a all-review-tag-go" do %>
            <span class="all-review-tag-search">#Go</span>
          <% end %>
          <%= link_to reviews_path(search_word: "java"), class: "all-review-tag-a all-review-tag-java" do %>
            <span class="all-review-tag-search">#Java</span>
          <% end %>
          <%= link_to reviews_path(search_word: "javascript"), class: "all-review-tag-a all-review-tag-javascript" do %>
            <span class="all-review-tag-search">#Javascript</span>
          <% end %>
          <%= link_to reviews_path(search_word: "typescript"), class: "all-review-tag-a all-review-tag-typescript" do %>
            <span class="all-review-tag-search">#Typescript</span>
          <% end %>
          <%= link_to reviews_path(search_word: "aws"), class: "all-review-tag-a all-review-tag-aws" do %>
            <span class="all-review-tag-search">#AWS</span>
          <% end %>
          <%= link_to reviews_path(search_word: "docker"), class: "all-review-tag-a all-review-tag-docker" do %>
            <span class="all-review-tag-search">#Docker</span>
          <% end %>
          <%= link_to reviews_path(search_word: "linux"), class: "all-review-tag-a all-review-tag-linux" do %>
            <span class="all-review-tag-search">#Linux</span>
          <% end %>
          <%= link_to reviews_path(search_word: "sql"), class: "all-review-tag-a all-review-tag-sql" do %>
            <span class="all-review-tag-search">#SQL</span>
          <% end %>
          <%= link_to reviews_path(search_word: "vue"), class: "all-review-tag-a all-review-tag-vue" do %>
            <span class="all-review-tag-search">#Vue.js</span>
          <% end %>
          <%= link_to reviews_path(search_word: "react"), class: "all-review-tag-a all-review-tag-react" do %>
            <span class="all-review-tag-search">#React.js</span>
          <% end %>

          <%= link_to reviews_path(search_word: "html"), class: "all-review-tag-a all-review-tag-html" do %>
            <span class="all-review-tag-search">#HTML</span>
          <% end %>
          <%= link_to reviews_path(search_word: "kurbenetes"), class: "all-review-tag-a all-review-tag-kurbenetes" do %>
            <span class="all-review-tag-search">#Kurbenetes</span>
          <% end %>
          <%= link_to reviews_path(search_word: "swift"), class: "all-review-tag-a all-review-tag-swift" do %>
            <span class="all-review-tag-search">#Swift</span>
          <% end %>
          <%= link_to reviews_path(search_word: "flutter"), class: "all-review-tag-a all-review-tag-flutter" do %>
            <span class="all-review-tag-search">#Flutter</span>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pagination-div">
  <%= paginate @reviews %>
</div>

<div class="wrap-tab">
  <ul id="js-tab" class="list-tab">
    <li id="recent-review" class="active">最近見た投稿</li>
    <li id="related-review">関連した投稿</li>
  </ul>
  <div class="wrap-tab-content">
    <div class="tab-content active">

      <div class="recent-reviews">
        <% @browsingHistories.each do |recent_review, i| %>
          <div class="recent-review">
            <%= link_to review_path(recent_review.review) do %>
              <% if recent_review.review.picture.url %>
                <img class="recent-review-image" src="<%= recent_review.review.picture.url %>">
              <% else %>
                <div class="recent-review-no-image">𝙉𝙤 𝙄𝙢𝙖𝙜𝙚</div>
              <% end %>
            <% end %>
            <div class="recent-review-link-a">
              <%= link_to "#{recent_review.review.title}", review_path(recent_review.review), class: "recent-review-link" %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="tab-content">
      <p>関連した投稿</p>
    </div>
  </div>
</div>

<style media="screen">

  .pagination-div {
    display: flex;
    justify-content: center;
  }

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p{
  margin: 0;
}

.wrap-tab{
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 90px;
  position: relative;
}

.list-tab{
  display: flex;
  padding-left: 7%;
  margin: 0 70px;
}

#related-review {
  filter: opacity(60%);
}

.list-tab > li{
  display: block;
  padding: 0.4em 1em;
  margin: 0 2px;
  color: #6A6F70;
  text-align: center;
  background: #d0dbde;
  box-sizing: border-box;
  border-top: thin solid rgba(0,0,0,.12);
  border-left: thin solid rgba(0,0,0,.12);
  border-right: thin solid rgba(0,0,0,.12);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 600;
  font-height: 24px;
  font-size: 14px;
  margin: 0 5px;
  margin-bottom: -1px;
}

.list-tab .active{
  background: white;
  border-top: thin solid rgba(0,0,0,.12);
  border-left: thin solid rgba(0,0,0,.12);
  border-right: thin solid rgba(0,0,0,.12);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 600;
  font-height: 24px;
  font-size: 14px;
  margin: 0 5px;
  margin-bottom: -1px;
  cursor: pointer;
}

.tab-content{
  display: none;
  padding: 20px 130px 20px 130px;
  border-top: thin solid rgba(0,0,0,.12);
  border-bottom: thin solid rgba(0,0,0,.12);
  background-color: white;
}

.tab-content.active{
  display: block;
}

</style>

<!-- 通報機能のAjax -->
<script type="text/javascript">
  var report_select_review_id;
  var div_report;
  var div_report_in;
  $(`.report-really-btn`).on('click',function(){
    report_select_review_id = Number($(this).attr('class').split(" ")[1].substring(17));
    set_csrftoken();
    $.ajax({
      type: 'POST',
      url: 'reports',
      data: {review_id: report_select_review_id},
      dataType: 'json',
    }).done(function(contents){
      $(`.report-cancel-${contents.review_id}`).click();
      $(`.report-review-btn-${contents.review_id}`).remove();
       if (contents.is_delete_review) {
        $(`#review_${contents.review_id}`).remove();
      }
      div_report = document.getElementById(`report-div-btn-${contents.review_id}`);
      div_report_in = document.createElement('div');
      div_report_in.innerHTML = `
        <div class="mypage-review-report-icon-off">
          <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 192.146 192.146" style="enable-background:new 0 0 192.146 192.146;" xml:space="preserve">
            <path style="fill: rgba(0,0,0,.2);" d="M108.186,144.372c0,7.054-4.729,12.32-12.037,12.32h-0.254c-7.054,0-11.92-5.266-11.92-12.32     c0-7.298,5.012-12.31,12.174-12.31C103.311,132.062,108.059,137.054,108.186,144.372z M88.44,125.301h15.447l2.951-61.298H85.46     L88.44,125.301z M190.372,177.034c-2.237,3.664-6.214,5.921-10.493,5.921H12.282c-4.426,0-8.51-2.384-10.698-6.233     c-2.159-3.849-2.11-8.549,0.147-12.349l84.111-149.22c2.208-3.722,6.204-5.96,10.522-5.96h0.332     c4.445,0.107,8.441,2.618,10.513,6.546l83.515,149.229C192.717,168.768,192.629,173.331,190.372,177.034z M179.879,170.634     L96.354,21.454L12.292,170.634H179.879z"/>
          </svg>
        </div>
      `;
      div_report.appendChild(div_report_in);
      $(`.mypage-review-report-icon-off`).unwrap();
    });
  });
</script>

<!-- レコメンド機能のAjax -->
<script type="text/javascript">
  var select_user_id;
  var hover_user_id;
  var select_user_ids = [];
  var recommend_user_total_number = Number($('#recommend_user_total').val());
  var recommend_user_datas;
  var review_id;
  var select_review_id;

  $(`.mypage-reviews-recommend-icon`).on('click',function(){
    select_user_ids = [];
    select_review_id = Number($(this).attr('class').split(" ")[5].substring(20));
    for (let i = 2; i <= recommend_user_total_number + 1; i++) {
      $(`.recommend_user_${i}`).removeClass('select_user');
    }
    $.ajax({
      type: 'GET',
      url: 'recommend/modal',
      data: {review_id: select_review_id},
      dataType: 'json',
    }).done(function(contents){
      for (let i = 0; i <= contents.click_user_ids.length - 1; i++) {
        $(`.recommend_review_${contents.recommend_review.id}` + `.recommend_user_${contents.click_user_ids[i]}`).click();
        select_user_ids.push(Number(contents.click_user_ids[i]));
      }
    });
  });

  $(`.recommend_user`).on('click',function(){
    select_user_id = Number($(this).attr('class').split(" ")[2].substring(15));
    if (select_user_ids.includes(select_user_id) == false) {
      select_user_ids.push(select_user_id);
    } else {
      select_user_ids = select_user_ids.filter(item => item != Number(select_user_id));
    }
    $(this).toggleClass('select_user');
    $(this).css('background', '');
  });

  $('.recommend_user').hover(function() {
    hover_user_id = Number($(this).attr('class').split(" ")[2].substring(15));
    if (select_user_ids.includes(hover_user_id) == false) {
      $(this).css({'boder-top': 'rgb(224,224,224)'});
      $(this).css({'background-color': '#E8F2F5'});
    }
  }, function() {
    if (select_user_ids.includes(hover_user_id) == false) {
      $(this).css('background', '');
    }
  });

  $(`.recommend-btn-update`).on('click', function(){
    recommend_user_datas = select_user_ids.join();
    review_id = Number($(this).attr('class').split(" ")[1].substring(20));
    set_csrftoken();
    $.ajax({
      type: 'POST',
      url: 'recommends',
      data: {recommend_user_datas: recommend_user_datas, review_id: review_id},
      dataType: 'json',
    }).done(function(contents){
      $(`.recommend-modal-${contents.review_id}`).click();
        Swal.fire(
          'You Recommended!',
          'レコメンドが完了しました',
          'success'
        )
    });
  });

  $(`.recommend-btn-reset`).click(function() {
    $(`.select_user`).click();
  });

</script>
<style media="screen">
  .select_user {
    background-color: #c4dee6;
    border-top: thin solid white;
  }
</style>

<!-- いいね機能のAjax -->
<script type="text/javascript">
  var like_flag = 0;
  var not_like_flag = 0;

  $(document).on('click', '.like_btn_ajax', function() {
    if (like_flag == 0) {
      like_flag = 1;
      var like_data = Number($(this).attr('id').substr( 8 ));
      console.log(like_data);
      like_ajax(like_data);
    }
  });

  $(document).on('click', '.not_like_btn_ajax', function() {
    if (not_like_flag == 0) {
      not_like_flag = 1;
      var not_like_data = Number($(this).attr('id').substr( 12 ));
      not_like_ajax(not_like_data);
    }
  });

  function like_ajax(like_data){
      set_csrftoken();
      $.ajax({
        type: 'POST',
        url: 'review_like/create',
        data: {review_id: like_data},
        dataType: 'json',
      }).done(function(like_result){
        debugger;
        $(`#like_btn${like_result.like_review_id}`).remove();
        var like_div = document.getElementById(`like-div${like_result.like_review_id}`);
        var like_icon = document.createElement('span');
        like_icon.innerHTML = `
          <i id="not_like_btn${like_result.like_review_id}" class="not_like_btn_ajax fas fa-heart mypage-reviews-like-icon all-reviews-icon"></i>
        `;
        like_div.appendChild(like_icon);
        $(`#not_like_btn${like_result.like_review_id}`).unwrap();
        like_flag = 0;
      });
  }

  function not_like_ajax(not_like_data){
    set_csrftoken();
    $.ajax({
      type: 'POST',
      url: 'review_like/destroy',
      data: {id: not_like_data},
      dataType: 'json',
    }).done(function(not_like_result){
      $(`#not_like_btn${not_like_result.not_like_review_id}`).remove();
      var like_div = document.getElementById(`like-div${not_like_result.not_like_review_id}`);
      var not_like_icon = document.createElement('span');
      not_like_icon.innerHTML = `
        <i id="like_btn${not_like_result.not_like_review_id}" class="like_btn_ajax far fa-heart mypage-reviews-like-icon all-reviews-icon"></i>
      `;
      like_div.appendChild(not_like_icon);
      $(`#like_btn${not_like_result.not_like_review_id}`).unwrap();
      not_like_flag = 0;
    });
  }
</script>

<!-- フォロー機能のAjax -->
<script type="text/javascript">
  var follow_flag = 0;
  var not_follow_flag = 0;

  $(document).on('click', '.follow_btn_ajax', function() {
    if (follow_flag == 0) {
      follow_flag = 1;
      var follow_data = Number($(this).attr('id').substr( 10 ));
      var follow_user_data = Number($(this).attr('class').substr( 48 ));
      follow_ajax(follow_data, follow_user_data);
    }
  });

  $(document).on('click', '.not_follow_btn_ajax', function() {
    if (not_follow_flag == 0) {
      not_follow_flag = 1;
      var not_follow_data = Number($(this).attr('id').substr( 14 ));
      var not_follow_user_data = Number($(this).attr('class').substr( 48 ));
      not_follow_ajax(not_follow_data, not_follow_user_data);
    }
  });

  function follow_ajax(follow_data, follow_user_data){
      set_csrftoken();
      $.ajax({
        type: 'POST',
        url: 'review_follow/create',
        data: {review_id: follow_data, user_id: follow_user_data},
        dataType: 'json',

      }).done(function(follow_result){
        $(`#follow_btn${follow_result.follow_review_id}`).remove();
        var follow_div = document.getElementById(`follow-div${follow_result.follow_review_id}`);
        var follow_icon = document.createElement('span');
        follow_icon.innerHTML = `
          <span id="not_follow_btn${follow_result.follow_review_id}" class="not_follow_btn_ajax all-reviews-icon follow_user${follow_result.follow_user_id}">following</span>
        `;
        follow_div.appendChild(follow_icon);
        $(`#not_follow_btn${follow_result.follow_review_id}`).unwrap();
        follow_flag = 0;
      });
  }

  function not_follow_ajax(not_follow_data, not_follow_user_data){
    set_csrftoken();
    $.ajax({
      type: 'POST',
      url: 'review_follow/destroy',
      data: {review_id: not_follow_data, user_id: not_follow_user_data},
      dataType: 'json',

    }).done(function(not_follow_result){
      $(`#not_follow_btn${not_follow_result.not_follow_review_id}`).remove();
      var follow_div = document.getElementById(`follow-div${not_follow_result.not_follow_review_id}`);
      var not_follow_icon = document.createElement('span');
      not_follow_icon.innerHTML = `
        <span id="follow_btn${not_follow_result.not_follow_review_id}" class="follow_btn_ajax all-reviews-icon not_follow_user${not_follow_result.not_follow_user_id}">
          <i class="fa-xs fas fa-plus"></i>
          follow
        </span>
      `;
      follow_div.appendChild(not_follow_icon);
      $(`#follow_btn${not_follow_result.not_follow_review_id}`).unwrap();
      not_follow_flag = 0;
    });
  }

  function set_csrftoken() {
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        if (!options.crossDomain) {
            const token = $('meta[name="csrf-token"]').attr('content');
            if (token) {
                return jqXHR.setRequestHeader('X-CSRF-Token', token);
            }
        }
    });
  }
</script>

<script type="text/javascript">
  if (document.getElementById("footer") == null) {
    var diva = document.getElementById("footerfixed");
    var div = document.createElement('div');
    div.innerHTML = `
    <div id="footer" class="footer footer-layout-set">
      <div class="footer-sentence">
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/terms">利用規約</a>
        </span>
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/privacy_policy">プライバシーポリシー</a>
        </span>
        <span class="footer-sentence-link-twe footer-sentence-link-twitter">
          <a class="footer-sentence-link-in" href="https://twitter.com/0je3EP7f4PZPpLm">
            <i class="fab fa-twitter"></i>
          </a>
        </span>
        <span class="footer-sentence-link-when">© 2020 - 2022 TechBookHub</span>
      </div>
    </div>
    `;
    diva.appendChild(div);
    $(`#footer`).unwrap();
  }
</script>

<% if @reviews.size <= 1 && @ranking_reviews.size <= 6 %>
<style media="screen">
  .footer {
    position: fixed;
    bottom: 0;
  }
</style>
<% end %>
