<% if @pv_ranking %>
  <div id="impression_rank">
    <% @pv_ranking.each.with_index(1) do |rank, i| %>
      <div id="rank">
        <%= "#{i}" %>位
        <%= link_to "#{rank.title}", review_path(rank) %>
        <%= rank.impressionist_count %>レビュー
      </div>
    <% end %>
  </div>
<% end %>

<h2>全ての投稿</h2>

<div>
  <% @reviews.each do |review| %>
  <% @review = review %>
  <div>
    <span>
      <div id="like_form<%= @review.id %>" class="like_class<%= @review.id %>">
        <%= render 'shared/like_form' %>
      </div>
    </span>
  </div>
  <div>
    <%= @review.user.username %>
    <% if @review.user.avatar.url %>
      <div>
        <img src="<%= @review.user.avatar.url %>" class="aaa">
      </div>
    <% else %>
      <div>
        <img src="/uploads/user/avatar/default.png" class="bbb">
      </div>
    <% end %>
  </div>
  <div>
    <% if @review.picture.url %>
      <img class="all_review_img" src="<%= @review.picture.url %>">
    <% else %>
      <b>画像はありません</b>
    <% end %>
  </div>
    <div><%= link_to "#{@review.title}", review_path(@review) %></div>
    <div><%= @review.content %></div>
    <div><%= @review.rate %></div>
    <div><%= time_ago_in_words(@review.created_at).delete("約").delete("未満") %>前</div>
    <div id="all_review_tags">
      <span>タグ</span>
      <% @review.tags.each do |tag| %>
        <div>#<%= tag.name %></div>
      <% end %>
    </div>
    <div>
      <%= link_to @review.link, target: :_blank do %>
        <%= @review.link %>
      <% end %>
    </div>
    <div>
      <% if current_user.admin? %>
      <%= link_to "削除する", review_destroy_path(id: @review.id, original_page: "exist"), method: :delete,
                                  data: { confirm: "本当にこの投稿を削除しますか？" } %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="index">
  <div>
    <% if @recommend_users %>
      <% @recommend_users.each do |recommend_user| %>
        <div>
          <% @user = recommend_user %>
          <% if @user.avatar.url %>
            <img src="<%= @review.user.avatar.url %>" class="comment-logo">
          <% else %>
            <img src="/uploads/user/avatar/default.png" class="comment-default-logo">
          <% end %>
          <span><%= @user.username %></span>
          <span id="follow_form<%= @user.id %>" class="follow_class<%= @user.id %>">
            <%= render 'shared/follow_form' %>
          </span>
        </div>
      <% end %>
    <% else %>
      <div>フォローしていないユーザーはいません。</div>
    <% end %>
  </div>
</div>
<div id="ranking_ajax" class="index">
  <%= render partial: 'reviews/ranking', locals: { ranking_reviews: @ranking_reviews } %>
</div>
