<%= search_form_for @q, remote: true do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.search_field :title_cont %>

  <%= f.label :content, "内容" %>
  <%= f.search_field :content_cont %>

  <%= f.submit "検索" %>
<% end %>
<div>
  <%= link_to "Ruby", tag_search_reviews_path("ruby"), method: :POST, remote: true %>
  <%= link_to "Rails", tag_search_reviews_path("rails"), method: :POST, remote: true %>
  <%= link_to "PHP", tag_search_reviews_path("php"), method: :POST, remote: true %>
  <%= link_to "Python", tag_search_reviews_path("python"), method: :POST, remote: true %>
  <%= link_to "Go", tag_search_reviews_path("go"), method: :POST, remote: true %>
  <%= link_to "Java", tag_search_reviews_path("java"), method: :POST, remote: true %>
  <%= link_to "Javascript", tag_search_reviews_path("javascript"), method: :POST, remote: true %>
  <%= link_to "Typescript", tag_search_reviews_path("typescript"), method: :POST, remote: true %>
  <%= link_to "AWS", tag_search_reviews_path("aws"), method: :POST, remote: true %>
  <%= link_to "Docker", tag_search_reviews_path("docker"), method: :POST, remote: true %>
  <%= link_to "Linux", tag_search_reviews_path("linux"), method: :POST, remote: true %>
  <%= link_to "SQL", tag_search_reviews_path("sql"), method: :POST, remote: true %>
  <%= link_to "Vue.js", tag_search_reviews_path("vue"), method: :POST, remote: true %>
  <%= link_to "React.js", tag_search_reviews_path("react"), method: :POST, remote: true %>
  <%= link_to "その他", tag_search_reviews_path("その他"), method: :POST, remote: true %>
</div>
<div id="search_result_reviews" class="index">
  <%= render partial: 'reviews/search_result_reviews', locals: { reviews: @review } %>
</div>
