<% if @review.picture.url %>
  <img src="<%= @review.picture.url %>">
<% else %>
  <b>画像はありません</b>
<% end %>
<div><%= @review.title %></div>
<div><%= @review.content %></div>
<div><%= @review.rate %></div>
<div>
  <%= link_to @review.link, target: :_blank do %>
    <%= @review.link %>
  <% end %>
</div>
<div>
  <% if @review.user == current_user %>
    <%= link_to '編集する', edit_review_path(@review) %>
  <% end %>
</div>
<div>
  <% if @review.user == current_user %>
    <%= link_to "削除する", review_destroy_path(id: @review.id, original_page: "not_exist"), method: :delete,
                              data: { confirm: "本当にこの投稿を削除しますか？" } %>
  <% end %>
</div>
