<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <div id="footerfixed" class="footerFixed">
          <%= render partial: 'layouts/header' %>
            <div class="application-height">
                <% if user_signed_in? %>
                  <%= render partial: 'layouts/sub_header' %>
                <% end %>
                <div id="flash-messages" class="flash-messages">
                  <div id="notice" class="notice flash"><%= notice %></div>
                  <div id="alert" class="alert flash"><%= alert %></div>
                </div>
                <%= yield %>
            </div>
      </div>
  </body>
</html>

<script type="text/javascript">
  $("#api-scroll").click(function () {
    $("html,body").animate({scrollTop: 0}, 1);
  });
</script>

<script type="text/javascript">
  $(function(){

    if($('#notice').text().length) {
      $('#flash-messages').stop().animate({'bottom' : '5px'}, 400);
      setTimeout(function() {
        $('#flash-messages').stop().animate({'bottom' : '-105px'}, 400);
	    }, 3500);
    }

    if($('#notice').text().length == "") {
      $('#notice').css("display", "none");
    }

    if($('#alert').text().length == "") {
      $('#alert').css("display", "none");
    }
  });
</script>
